/* CSS Document */

.thischanged
{
	/*color:#F00;*/
}

.changedfieldsnote
{
	/*font-size:10px;
	color:#F00;
	padding:2px;
	background-color:#FFC;
	border:1px solid #000;*/
}

.bluebackground
{
	background-image:url("../images/th-back1_blue.png");
}

.orangebackground
{
	background-image:url("../images/th-back1_orange.png");
}
