/*
LESS overrides
Chris Rodriguez, clrux@bu.edu
-----------------------------*/
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li {
  text-transform: none !important;
  text-shadow: 0 1px 0 #000000 !important;
  font-size: 1.2em !important;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li a {
  color: #d2d2d2 !important;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li a:hover {
  background: #ce004b;
}
.portaltoolbar ul.barButtons li a {
  font-size: 1em !important;
  height: auto !important;
  max-height: 1.6em !important;
  padding: .25em .5em !important;
}
.portaltoolbar ul.barButtons li ul li a {
  max-height: 100% !important;
}
.portaltoolbar .topBarInner ul.barButtons li a .icon {
  position: relative !important;
  margin-top: -3px !important;
}
.portaltoolbar .topBarInner ul.barButtons li a span {
  padding-left: 4px !important;
}
.docHeader h2 {
  display: block;
}
.docHeader h2 span {
  color: #888;
}
.docHeader .header-meta {
  margin-bottom: .55em;
  float: left;
}
.docHeader .header-meta .initiator,
.docHeader .header-meta .updated,
.docHeader .header-meta .more {
  display: inline;
  margin-right: 1em;
}
.docHeader .header-meta .initiator span,
.docHeader .header-meta .updated span,
.docHeader .header-meta .more span {
  color: #888;
}
.docHeader .header-status {
  margin-bottom: .55em;
  float: right;
}
.docHeader .header-status .completion,
.docHeader .header-status .actions {
  display: inline;
  margin-left: 1em;
}
.docHeader .header-status .completion span,
.docHeader .header-status .actions span {
  color: #888;
}


legend {

border-bottom:none;
}