#content {
   min-height: 600px;
}

#ToC > ul ul li {
    padding-left: 35px;
}

#ToC > ul ul li a {
    color: #777777;
    display: block;
    padding: 6px 0 6px 15px;
}

#ToC > ul ul li.active > a {
	background-attachment: scroll;
	background-color: #1b1b1b;
	background-image: url(../img/leftnav-active.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#ToC > ul ul li a:hover {
    background-color: #4A4A4A;
}

#ToC > ul > li.nopointer > a {
	background-image:none;
	background-color:#000;
}
