table {
	border: 0px;
	font-family: monospace;
	font-size: 0.9em;
	width: 100%;
}
th {
	text-align: left;
	cursor: pointer;
}
.table-tr-odd {
	background-color: #efefff;
}
a {
	color: #111;
}
a:hover {
	background-color: #cfcfdf;
}
