/*
 Intended to be cleaned up. Stored here during development.
 Chris Rodriguez
 */

.final-version {
    background: @state-info-bg;
}

.final-version-selected {
    color: darken(@brand-warning, 25%);
}

dl {
    dt {
        display: inline;
    }

    dd {
        display: inline;
    }
}