<?xml version="1.0" encoding="UTF-8" ?>
<!--

  Copyright 2011-2013 The Kuali Foundation

  Licensed under the Educational Community License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.opensource.org/licenses/ecl2.php

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!--
    The log4j configuration used by the spring-maven-plugin is not actually controlled by this file.
    Annotated Spring configuration is used to programmatically control log4j.
    The reason this file exists is to prevent log4j from complaining while Spring is starting up.
    There are a handful of very early log messages Spring emits prior to reaching the log4j configuration code.
    Those very early log messages are the only ones controlled by the configuration in this file.
    All logging after that is controlled by the annotated Spring configuration classes.
  -->

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-4p] %m%n" />
    </layout>
  </appender>
  <!-- Tone down Spring logging -->
  <logger name="org.springframework">
    <level value="warn" />
  </logger>
  <root>
    <priority value="info" />
    <appender-ref ref="console" />
  </root>
</log4j:configuration>