/*
	Pieces
*/
/*
	Variables
*/
a,
a:link {
  color: #0033cc;
}
a:hover,
a:focus {
  color: #002aa8;
  text-decoration: underline;
}
body {
  background-color: #181818;
  font-size: 13px;
}
input,
select,
textarea,
button {
  font-size: 13px;
}
.off-screen {
  position: absolute;
  left: -9999em;
}
.portal-header {
  background-color: #aa003e;
}
.portal-header .navbar {
  background-color: #aa003e;
  margin-bottom: 0px;
  border: none;
}
.portal-header .navbar div.logoBrand {
  width: 200px;
  height: 69px;
  background-image: url(../img/logo.png);
  position: absolute;
  top: 0px;
  margin-left: -16px;
}
.portal-header .navbar .nav li.active a {
  background: #9b0038;
}
.portal-header .navbar .nav .dropdown-menu li ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.portal-header .navbar .nav .dropdown-menu li ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #0033cc;
  white-space: nowrap;
}
.portal-header .navbar .nav .dropdown-toggle {
  text-transform: uppercase;
}
.portal-header .navbar .nav li {
  position: relative;
  z-index: 10;
}
.portal-header .navbar .nav li a {
  text-transform: ;
}
.portal-header .navbar a {
  color: #FFF;
}
.portal-header .navbar a:hover {
  color: #FFF;
  background: #9b0038;
}
.portal-header .navbar .nav .dropdown-menu li ul li a:hover,
.portal-header .navbar .nav .dropdown-menu li ul li a:focus {
  text-decoration: none;
  color: #FFF;
  background-color: #aa003e;
}
section.toolbar {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
}
section.toolbar .dropdown a {
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  color: #666;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #fff;
  -webkit-box-shadow: 1px 0px 0px 0px #cccccc;
  box-shadow: 1px 0px 0px 0px #cccccc;
}
section.toolbar .dropdown a .caret {
  border-bottom-color: #666;
  border-top-color: #666;
}
.doc-header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  padding-bottom: 12px;
}
.doc-header header .doc-subtitle {
  font-size: 1.1em;
  line-height: 22px;
}
.doc-header header h2.doc-title {
  margin-bottom: 0px;
  line-height: 30px;
}
.doc-header header h2.doc-title span {
  color: #666;
  font-weight: normal;
}
.doc-header .doc-functions {
  font-size: .85em;
}
.doc-header .doc-functions ul {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}
.doc-header .doc-functions ul li {
  display: inline;
  color: #666;
}
.doc-header .doc-functions ul li a.icons-doc-header-hierarchy {
  background-position: 0 -124px;
}
.doc-header .doc-functions ul li a {
  padding-left: 16px;
  margin-right: 16px;
  background-image: url(../img/icons-docHeader.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.doc-header .doc-functions ul li a.icons-doc-header-copy {
  background-position: 0 -62px;
}
.doc-header .doc-functions ul li a.icons-doc-header-medusa {
  background-position: 0 -186px;
}
.doc-header .doc-functions ul li a.icons-doc-header-print {
  background-position: 0 -248px;
}
.doc-header .doc-functions ul li a.icons-doc-header-access {
  background-position: 0 0;
}
.doc-header .doc-status {
  position: ;
  right: 0px;
  bottom: 4px;
  font-size: 0.85em;
  color: #666;
}
.doc-header .doc-status .dropdown {
  margin-top: 20px;
}
.doc-header .doc-status .dropdown .progress {
  height: 3px;
  margin-bottom: 0px;
}
.doc-header .doc-status .dropdown .dropdown-menu {
  margin-left: -60px;
  padding: 6px;
  width: 240px;
  margin-top: 4px;
  background: #f2f2f2;
  display: ;
  font-size: 11px;
  top: 20px;
}
.doc-header .doc-status .dropdown .dropdown-menu em {
  margin-left: 2px;
}
.doc-header .doc-status .dropdown table tbody tr th {
  text-align: right;
  padding-right: 6px;
}
.doc-header .doc-status .dropdown span {
  color: #000;
  font-weight: bold;
  font-size: 1.4em;
}
#subnav {
  margin-bottom: 1em;
  background: #f6f6f6;
  border-left: 1px solid #cccccc;
}
#subnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#subnav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#subnav ul li a {
  display: block;
  padding: 3% 6%;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#subnav ul li ul {
  display: none;
}
#subnav ul li ul li a {
  font-size: .9em;
  padding-left: 12%;
}
#subnav ul li.expanded {
  font-weight: 700;
  background: #e7e7e7;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#subnav ul li.expanded ul {
  font-weight: normal;
}
#subnav ul li.active {
  font-weight: 700;
}
#subnav ul li.active a {
  font-weight: normal;
  background: #aa003e;
  color: #ffffff;
  position: relative;
}
#subnav ul li.active a:after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  margin-right: -1px;
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
}
#main {
  background: #ffffff;
  padding-top: 40px;
}
#main label {
  line-height: 130%;
  padding-top: 0;
  text-align: left;
}
#main label.radio,
#main label.checkbox {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
#main label.radio input,
#main label.checkbox input {
  float: left;
  margin-top: 0px;
}
#main legend.legend-normal {
  font-size: inherit;
  border-bottom: 0px;
}
#main fieldset.fieldset-horizontal {
  padding: 2% 0 0 0;
  border-top: 1px dotted #cccccc;
}
#main fieldset.fieldset-horizontal:first-child {
  border-top: 0px;
}
#main .button-row {
  clear: both;
  margin-top: 1.5%;
  padding: 2% 0 2% 0;
  border-top: 1px solid #cccccc;
  text-align: center;
}
#main .boxSubheader {
  position: relative;
}
#main .boxSubheader h3 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  color: #000;
  font-size: 13px;
  margin-top: 0px;
  padding-top: 0px;
}
#main .boxSubheader .boxControls {
  position: absolute;
  right: 0px;
  top: 0px;
}
#main .nav-tabs {
  margin-top: 3%;
}
#main .boxContent .well {
  padding: 19px 19px 3px 19px !important;
}
#main .boxContent .well h3 {
  margin: 0 0 12px 0 !important;
}
#main .boxContent .well .progress-details .empty {
  float: left;
  text-align: center;
  padding: 4px 0 6px 0;
  color: #aaa;
}
#main .boxContent .well .progress-details .empty.active {
  color: inherit;
  font-weight: 700;
}
#main .boxContent .well .progress-details .empty.complete {
  color: inherit;
}
#main .boxContent .well .progress {
  height: 3px;
  clear: both;
}
#main .boxContent .proposal-actions {
  margin-bottom: 1em;
}
#main .boxContent .comments .comment-actions {
  margin-top: 1em;
  margin-bottom: 3%;
}
#main .boxContent .comments .comment-row {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px dotted #cccccc;
}
#main .boxContent .comments .comment-row.comment-headers {
  font-weight: 700;
  border-top: 0px;
}
#main .tab-content #Summary .well {
  padding: 12px;
}
#main .tab-content #Summary .well h4 {
  margin-top: 0px;
  margin-bottom: 40px;
}
#main .summary .boxHeader h4 {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 8px;
  padding-left: 24px;
  background-position: 8px;
}
#main .box .boxHeader h4 {
  font-size: 13px;
}
footer {
  color: #f2f2f2;
}
footer a {
  color: #ffffff !important;
}
footer .container {
  margin-top: 30px;
  margin-bottom: 30px;
}
