.uif-navigation {
	margin-bottom: 1em;
	background: @shaded_background;
	//border-left: 1px solid @border_color;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				display: block;
				padding: 3% 6%;
				//border-bottom: 1px solid @border_color;
				//border-right: 1px solid @border_color;
			}

			ul {
				display: none;

				li {

					a {
						font-size: .9em;
						padding-left: 12%;
					}
				}
			}
		}
		

		li.expanded {
			font-weight: 700;
			background: darken(@shaded_background, 6%);
			box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 10%);

			ul {
				font-weight: normal;
			}
		}

		li.active {
			font-weight: 700;

			a {
				font-weight: normal;
				background: @header_background;
				color: @text_white;
				position: relative;
			}

			
		}
	}
}





.uif-navigation {
    ul {
        li.expanded {
            border-bottom-width: 1px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: #aa003e;
            border-bottom-color: #fff;
            ul {
                .active {
                    a {
                        background: #ffe5e5;
                        background-image: url(../img/active.png);
                        background-repeat: no-repeat;
                        background-position: right center;
                    }
                    a:hover {
                        background: #ffe5e5;
                        background-image: url(../img/active.png);
                        background-repeat: no-repeat;
                        background-position: right center;
                    }
                }
                li {
                    a {
                        background-color: #FFF;
                        color: #000;
                        background-image: url(../img/border.png);
                        background-position: right;
                        background-repeat: repeat-y;
                    }
                    a:hover {
                        background: #ffe5e5;
                        background-image: url(../img/active.png);
                        background-repeat: no-repeat;
                        background-position: right center;
                    }
                }
            }
            a {
                background: #aa003e;
                color: #FFF;
                background-image: url(../img/active.png);
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
        li {
            background-color: #F1EFF2;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: #fff;
            border-bottom-color: #ddd;
            background-image: url(../img/border.png);
            background-position: right;
            background-repeat: repeat-y;
            a {
                text-decoration: none;
                color: #000;
            }
            a:hover {
                background-color: #aa003e;
                color: #ffffff;
                background-image: url(../img/active.png);
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}