#subnav {
	margin-bottom: 1em;
	background: @shaded_background;
	border-left: 1px solid @border_color;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				display: block;
				padding: 3% 6%;
				border-bottom: 1px solid @border_color;
				border-right: 1px solid @border_color;
			}

			ul {
				display: none;

				li {

					a {
						font-size: .9em;
						padding-left: 12%;
					}
				}
			}
		}

		li.expanded {
			font-weight: 700;
			background: darken(@shaded_background, 6%);
			box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 10%);

			ul {
				font-weight: normal;
			}
		}

		li.active {
			font-weight: 700;

			a {
				font-weight: normal;
				background: @header_background;
				color: @text_white;
				position: relative;
			}

			a:after {
				content: " ";
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -10px;
				margin-right: -1px;
				height: 0;
				width: 0;
				border-top: 10px solid transparent;
				border-right: 10px solid @white_background;
				border-bottom: 10px solid transparent;
			}
		}
	}
}