.uif-navigation ul li.expanded {
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #aa003e;
  border-bottom-color: #fff;
}
.uif-navigation ul li.expanded ul .active a {
  background: #ffe5e5;
  background-image: url(themes/kc/img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.uif-navigation ul li.expanded ul .active a:hover {
  background: #ffe5e5;
  background-image: url(themes/kc/img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.uif-navigation ul li.expanded ul li a {
  background-color: #FFF;
  color: #000;
  background-image: url(themes/kc/img/border.png);
  background-position: right;
  background-repeat: repeat-y;
}
.uif-navigation ul li.expanded ul li a:hover {
  background: #ffe5e5;
  background-image: url(themes/kc/img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.uif-navigation ul li.expanded a {
  background: #aa003e;
  color: #FFF;
  background-image: url(themes/kc/img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.uif-navigation ul li {
  background-color: #F1EFF2;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #fff;
  border-bottom-color: #ddd;
  background-image: url(themes/kc/img/border.png);
  background-position: right;
  background-repeat: repeat-y;
}
.uif-navigation ul li a {
  text-decoration: none;
  color: #000;
}
.uif-navigation ul li a:hover {
  background-color: #aa003e;
  color: #ffffff;
  background-image: url(themes/kc/img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
