.sortable #sortable1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 800px;
 margin-bottom:;
}
.sortable #sortable1 li {
 margin:;
 padding:;
	float: left;
	width: 96px;
	height: 96px;
 font-size:;
	text-align: center;
	background-image: url(../img/icon-user.png);
	border: 1px solid #CCC;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	position: relative;
}
.sortable #sortable1 li.ui-state-disabled {
	background-image: url(../img/icon-user-add.png);
}
.sortable #sortable1 .ui-state-default span.name {
	display: block;
	margin-top: 96px;
	font-size: .85em;
	font-style: italic;
	color: #999;
}
.sortable #sortable1 .ui-state-default .delete {
	position: absolute;
	top: -10px;
	right: -6px;
}
.sortable #sortable1 .delete .icon-remove-sign {
	background-image: url(../img/icon-remove.png);
	background-position: 0px 0px;
}


.controls.controls-row.datepicker .input-append {
	
	width: 120px;
	margin-bottom:8px;
}
.controls.controls-row.datepicker .input-append input {
	width: 55%;
}
.btn.lookup {
	background: none;
	background-image: url(../img/icon-lookup.png);
	border: none;
	width: 30px;
	height: 30px;
	padding: 0px;
}
.btn.lookup span {
	display: none;
}
h4 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-bottom: 12px;
	padding-bottom: 6px;
	color: #000;
 font-weight:;
	font-size: 12px;
}












.boxContent {
	padding: 14px;
}
.boxContent h4 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-bottom: 12px;
	padding-bottom: 6px;
	color: #000;
 font-weight:;
	font-size: 12px;
}
.boxContent .boxSubheader {
	position: relative;
}
.boxContent .boxSubheader .boxControls {
	position: absolute;
	right: 0px;
	top: 0px;
}
.boxContent .boxSubheader .question legend {
 margin-left:;
	width: inherit;
	font-size: inherit;
	height: inherit;
	border: none;
	line-height: inherit;
 position:;
}
.boxContent .boxSubheader .question .questionControls {
	margin-bottom: 20px;
 margin-left:;
}
.boxContent .boxSubheader .question .questionControls .radio.inline {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: top;
}




#header header #global {
	height: 64px;
	background-color: #F3F3F3;
	background-image: url(../img/brand-coeus.png), url(../img/brand-back.png);
	background-repeat: no-repeat, repeat;
}
#header header #global .brand .nav.nav-tabs {
	position: absolute;
	left: 200px; top:41px;
}
#header header #global .brand .nav.nav-tabs li a {
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 12px;	border: none;
}
#header header #global .brand .nav.nav-tabs .active a {
	background-color: #950F00;
	color:#FFF; border:none;
}
#header header #global .brand .nav.nav-tabs {
	border: none;
}
#header header #document .btn-group {
	float: right;
	margin: 1em 0 0 0;
	padding-top: 6px;
	padding-right: 10px;
}
#header header #document .btn-group .btn.dropdown-toggle {
	background: none;
	border: none;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#header header #document .btn-group .btn.dropdown-toggle .caret {
	border-top: 4px solid 
#ffffff;
}
#header header #document .btn-group .btn.dropdown-toggle {
	font-size: 12px;
}
#header header #document .btn-group .btn.dropdown-toggle {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.box .navbar .navbar-inner .container .brand {
	color: #333333;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding: 0px;
	text-shadow: 0 1px 0 #fff;
	margin: 0px;
}
.box .navbar .navbar-inner .container .nav-collapse .nav a {
	padding: 4px;
}
.box .navbar .navbar-inner {
		
	  min-height: 30px;
  padding-right: 20px;
  padding-left: 14px;
  background-color: #fafafa;
  background-image: none;
  background: #e5e5e5;

  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  
  *zoom: 1;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
	
	

border-top: 1px solid #fafafa;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius:0px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
height: 30px;
cursor: pointer;
	
	
	
	
	
}
.box .boxContent .tabbable.tabs-left.clearfix .nav.nav-tabs .active a {
	background:#fafafa;
}
















#header .meta ul li div{color:#333 !important;}
#header .meta ul li ul li{display:block;width:100%;}
#header .toolset{float:right;text-align:right;margin:.75em 1em 0 0;}
#header .document-meta{float:right;margin-right:2em;}#header .document-meta a{color:#ffffff;display:inline-block;margin-top:.88em;}
#header .btn-group{float:right;margin:1em 0 0 0;padding-top:6px;padding-right:10px;}#header .btn-group .btn.dropdown-toggle{background:none;border:none;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);font-size:12px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}#header .btn-group .btn.dropdown-toggle .caret{border-top:4px solid #ffffff;}
#header .btn-group .dropdown-menu{color:#222222;}#header .btn-group .dropdown-menu a{color:#222222;}
#header .btn-group .dropdown-menu a:hover{color:#ffffff;}
#header .proposal-stats{min-width:210px;float:right;margin-right:2em;}#header .proposal-stats span{color:#ffffff;display:inline-block;float:left;margin-top:.88em;margin-right:.5em;}
#header .proposal-stats .progress{float:left;width:30%;max-width:100px;height:3px;margin-top:1.5em;margin-right:1em;}#header .proposal-stats .progress .bar{background:#5398c8;opacity:1 !important;}
#header .proposal-stats .progress .bar.complete{background:#5c9b0a;}
#header .proposal-stats a{display:inline-block;float:left;margin-top:.88em;color:#ffffff;}

#document.fixed{background:#960000;top:0;left:0;z-index:999 !important;}

/*.dropdown-menu{left:auto !important;right:0 !important;}.dropdown-menu a{font-size:.90em;text-align:left;}*/
.popover{color:#222222 !important;}.popover ul{list-style:none;margin:0;padding:0;width:100%;}.popover ul li{display:block !important;clear:both;border-top:1px solid #f9f9f9 !important;width:100%;}.popover ul li .progress{width:100% !important;max-width:100% !important;float:none !important;margin-top:0 !important;}
.popover ul li span{display:inline-block;margin-right:.35em;}
.popover ul li:first-child{border-top:none;}
.req{display:inline-block;}.req .icon{background-image:url('../img/glyphicons-halflings-red.png');margin:0 0 0 3px;}
.req span{position:absolute;left:-9999em;}


#header header #global .toolset ul li a {
	color: #900;
}
