table {
	border: 1px solid black;
	font-family: monospace;
	font-size: 0.9em;
}
th {
	text-align: left;
	cursor: pointer;
	padding:5px;
}
td {
	padding:3px;
}
.table-tr-odd {
	background-color: #ffffff;
}
.table-tr-even {
	background-color: #efefff;
}
a {
	color: #111;
}
a:hover {
	background-color: #cfcfdf;
}

#group {
	font-weight: bold;
	font-size: x-large;
	padding-left:25px;
}

#currentGroup {
	font-weight: bold;
	font-size: x-large;
	padding-left:25px;
}

#title {
	font-weight: bold;
	font-size: x-large;
}

.title {
	padding-bottom:10px;
}


#footer-left {
	float: left;
	padding-top:10px;
}
#footer-text {
	font-style: italic;
	font-size: small;
}
