.responsiveCue {
	right: 0px;
	top: 340px;
 display:none;
	position: absolute;
	background: red;
}
/* Site Fonts */

/*@font-face {
	font-family: 'Conv_Cabin-Regular';
	src: url('../fonts/Cabin-Regular.eot');
	src: local('☺'), url('../fonts/Cabin-Regular.woff') format('woff'), url('../fonts/Cabin-Regular.ttf') format('truetype'), url('../fonts/Cabin-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

body {
	background-color: #000;
	/*font-family: 'Conv_Cabin-Regular';*/
	padding-top: 53px;
}
h2 {
	font-size: 1.9em;
	/* [disabled]font-weight: normal;
*/
}
h3 {
	font-size: 1.3em;
	margin: 0px;
	color: #000000;
	font-weight: normal;
}
/* Bootsrap overrides */
.navbar .nav > li > a {
	padding-top: 17px;
	padding-right: 20px;
	padding-bottom: 17px;
	padding-left: 20px;
	text-transform:uppercase;
	font-size:14px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse {
	float: right;
}
.navbar-inverse .navbar-inner {
	background: #aa003e;
	background-image: none;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	color: #ffffff;
	background: #aa003e;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li {
	text-transform: uppercase;
	font-size: 1.1em;
	border-top-style: none;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav {
	margin: 0px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding-bottom: 0px;
}
.navbar-fixed-top {
	margin-bottom: 0px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner { /*-webkit-box-shadow: 0px 4px 8px 4px rgba(00, 00, 00, .2);
	box-shadow: 0px 4px 8px 4px rgba(00, 00, 00, .2);*/
}
.breadcrumb {
	list-style: none;
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding: 0px;
	padding-top: 0px;
	/* [disabled]border-bottom-width: 1px;
*/
	/* [disabled]border-bottom-style: solid;
*/
	/* [disabled]border-bottom-color: #E3E3E3;
*/
}
/* prettify overrides */
ol.linenums li:nth-of-type(odd) {
	background: #fff;
}
ol.linenums li {
	line-height: 16px;
}
/* Page Styles */
.sectionContents h2 {
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand .logoBrand h1 span {
	display: none;
}
.navbar-inner .container .submenus {
	position: absolute;
	margin-top: 53px;
}
.thirdTier {
	color: #FFF;
	background-color: #333333;
}
.thirdTier .container {
	background-image: url(../img/sectionShadow.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.thirdTier .blurb {
	color: #CCC;
}
.thirdTier .blurb.testimonials {
	color: #CCC;
	font-style: italic;
}
.thirdTier ul {
	list-style: none;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #a45971;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
}
.thirdTier ul li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #a45971;
	padding-top: 4px;
	padding-bottom: 4px;
}
.thirdTier .blurb.tweets ul li {
	padding-left: 24px;
	background-image: url(../img/icon-twitter.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
}
.thirdTier .blurb.tweets ul li .timestamp {
	font-size: 0.7em;
	font-style: italic;
	color: #999;
}
.sectionContents {
	background: #FFF;
	min-height: 500px;
}
.footer {
	background: #000;
	color: #FFF;
}
.footer a {
	color: #999;
}
.footer a:hover {
	color: #fff;
}
.footer .foundation {
	background-image: url(../img/logo-kuali.png);
	background-repeat: no-repeat;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 40px;
	background-position: 0px 14px;
	float: left;
}
.footer .contactLink {
	padding-top: 22px;
	padding-bottom: 22px;
	text-align: right;
}
.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx {
}
body {
	/* [disabled]padding-top: 53px;
*//* 56px to make the container go all the way to the bottom of the topbar */
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand div.logoBrand {
	width: 200px;
	height: 69px;
	background-image: url(../img/logo.png);
	position: absolute;
	z-index: 11111111;
	top: 0px;
}
.splash .container .marketingBlurb {
	width: 430px;
}
.splash .container .marketingBlurb .graphic {
	position: absolute;
	height: 299px;
	width: 475px;
	background-image: url(../img/splashGraphic1.png);
	margin-left: 465px;
	margin-top: -180px;
}
.splash .container {
 background:;
	height: 300px;
}
.controls .btn-group .dropdown-menu.themes {
	right: 0px;
	left: inherit;
	min-width: inherit;
}
.controls .btn-group .dropdown-menu.options {
	right: 0px;
	left: inherit;
	min-width: inherit;
}
.sectionHeader {
	position: relative;
}
.sectionHeader .controls {
	position: absolute;
	top: 20px;
	right: 0px;
}
.sectionHeader .controls .btn-group {
	display: inline;
}
.widgetShowcaseLarge .widgetContainers {
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	min-height: 300px;
}
.demo .widgetShowcaseLarge .widgetContainers .widgetContainer {
	min-height: 600px;
}
.demo .widgetShowcaseLarge {
	margin-bottom: 40px;
}
.footer .credit {
	color: red;
	float: right;
	background-image: url(../../../mocks-responsive/assets/img/kradCredit.png);
	height: 45px;
	width: 93px;
	margin-top: 10px;
}
.footer .credit span {
	display: none;
}
.widgetShowcase .widgetContainers .widgetContent {
	padding: 20px;
}
.tools {
	background-color: #F0EFF2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E3E3E3;
 min-height:;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #aa003e;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #CCC;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.form-horizontal .control-group {
	margin-bottom: 8px;
}
.sectionContents .tools .controls {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
.modal-header, .modal-footer {
	margin-bottom: 0;
	text-align: left;
	background-color: #EFEFEF;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
 *zoom: 1;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	margin-top: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.modal-footer {
	text-align: center;
}
.modal-header h3 {
	font-weight: bold;
}
.btn.lookup {
	background: none;
	background-image: url(../img/icon-lookup.png);
	border: none;
	width: 30px;
	height: 30px;
	padding: 0px;
}
.btn.lookup span {
	display: none;
}
dl.table-display {
	float: left;
	width: 600px;
	margin: 1em 0;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E3E3E3;
}
dl.table-display dt {
	clear: left;
	float: left;
	width: 160px;
	margin: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	font-weight: normal;
	background-color: #F1F1F1;
	text-align: right;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 0px;
}
dl.table-display dd {
	float: left;
	width: 420px;
	margin: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
}
form {
	margin: 0px;
}
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;/*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}
.datepicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.datepicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datepicker > div {
	display: none;
}
.datepicker table {
	width: 100%;
	margin: 0;
}
.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}
.datepicker td.day.disabled {
	color: #eeeeee;
}
.datepicker td.old, .datepicker td.new {
	color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #0044cc;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
	background-color: #003399 \9;
}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td span:hover {
	background: #eeeeee;
}
.datepicker td span.active {
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 *background-color: #0044cc;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td span.active:active, .datepicker td span.active.active {
	background-color: #003399 \9;
}
.datepicker td span.old {
	color: #999999;
}
.datepicker th.switch {
	width: 145px;
}
.datepicker th.next, .datepicker th.prev {
	font-size: 21px;
}
.datepicker thead tr:first-child th {
	cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
	background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
th { /*
	[disabled]background-color: #EFEFEF;
*/
}
.dropdown-menu.right {
	left: auto;
	right: 0;
}
.dropdown-menu.right::before {
	left: auto !important;
	right: 9px;
}
.dropdown-menu.right::after {
	left: auto !important;
	right: 10px;
}
.search-tools {
	position: absolute;
	right: 12px;
	top: 10px;
}
.search-tools .btn-group {
	color: #000;
}
.search-tools .menuheader {
	padding: 4px;
}
.search-tools .clearlist a {
	font-style: italic;
	color: #999;
}
.subnav {
	background: #FFF;
	padding: 20px;
	width: 900px;
 margin-top:;
	left: 0px;
	position: absolute;
	z-index: 1200;
 min-height:;
	-webkit-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.4);
	display: none;
}
.subnav h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	margin-bottom: 12px;
	font-size: 1.1em;
}
.subnav h4 {
	font-size: inherit;
	font-weight: normal;
}
.docHeader {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	margin-bottom: 0px;
	padding-top: 12px;
	padding-bottom: 4px;
}
.docHeader h2 {
	display: inline;
	margin-right: 12px;
}
.docHeader h2 {
	display: inline;
	margin-right: 12px;
}
#editSearch {
	background: #efefef;
 padding:;
	width: 1200px;
 position:;
	display: none;
}
#editSearch .editSearchForm {
	padding: 20px;
	margin-bottom: 20px;
}
#editSearch .editSearchForm h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	margin-bottom: 20px;
}
.contentMain h4 {
	font-size: inherit;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}
.form-horizontal .formfields {
	min-height: 500px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container #menu1 .row .span3 ul li {
	font-size: 12px;
}
.boxSubheader h4 {
	/* [disabled]border-bottom-width: 1px;
*/
	/* [disabled]border-bottom-style: solid;
*/
	/* [disabled]border-bottom-color: #e3e3e3;
*/
	margin-bottom: 12px;
	padding-bottom: 6px;
	color: #000;
 font-weight:;
	font-size: 13px;
	/* [disabled]display: inline-block;
*/
	/* [disabled]font-weight: normal;
*/
	margin-top: 0px;
	padding-top: 0px;
}
.boxSubheader .boxControls {
	position: absolute;
	right: 0px;
	top: 0px;
}
.sectionContents nav {
	padding-top: 11px;
}
.vertNav {
	min-height: 500px;
	background-image: url(../img/border.png);
	background-repeat: repeat-y;
	background-position: right;
	padding-top: 0px;
	background-color: #f5f5f5;
}
.tools .alistdocsearch {
	margin-left: 70px;
	float: left;
}
.tools .login {
	float: right;
}
dl.headermeta {
	padding: 0em;
	font-size: 11px;
	margin: 0px;
}
dl.headermeta dt {
	float: left;
	clear: left;
	width: 40px;
	text-align: left;
	color: #000;
	line-height: 12px;
	font-weight: normal;
}
dl.headermeta dt:after {
	content: ":";
}
dl.headermeta dd {
	margin: 0 0 0 60px;
	padding: 0;
	font-style: italic;
	color: #666;
	line-height: 12px;
}
.portaltoolbar {
	-webkit-box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.portaltoolbar a {
 padding-left:;
	text-decoration: none;
}
.portaltoolbar ul.barButtons {
	margin: 0;
	float: right;
}
.portaltoolbar ul.barButtons > li {
	float: left;
	list-style: none;
	position: relative;
	zoom: 1;
	overflow: visible !important;
}
.portaltoolbar ul.barButtons > li > a {
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 11px;
	color: #333333;
	text-shadow: 0 1px 0 #fff;
	padding: 0 12px;
	border-left: 1px solid #ccc;
	-webkit-box-shadow: inset 1px 1px 0 0 #fff;
	-moz-box-shadow: inset 1px 1px 0 0 #fff;
	box-shadow: inset 1px 1px 0 0 #fff;
	zoom: 1;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.portaltoolbar ul.barButtons > li > a:hover, .portaltoolbar ul.barButtons > li.active > a {
	background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0 );
}
.portaltoolbar ul.barButtons > li > ul {
	position: absolute;
	right: 0;
	top: 100%;
	width: 170px;
	z-index: 99;
	border: 1px solid #ccc;
	border-bottom: none;
	border-right: none;
	display: none;
	margin: 0 -1px 0 0;
	zoom: 1;
}
.portaltoolbar ul.barButtons > li > ul > li {
	list-style: none;
	position: relative;
}
.portaltoolbar ul.barButtons > li > ul > li > a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	color: #333333;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	font-size: 11px;
	zoom: 1;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #ccc;
	-webkit-box-shadow: inset 0px 1px 0 0 #fff;
	-moz-box-shadow: inset 0px 1px 0 0 #fff;
	box-shadow: inset 0px 1px 0 0 #fff;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea', GradientType=0 );
	background: #ffffff;
}
.portaltoolbar ul.barButtons > li > ul > li > a:hover {
	background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0 );
}
.portaltoolbar i.icon {
	opacity: .3;
}
.portaltoolbar .topBarInner .barButtons li a .icon {
	position: absolute;
}
.portaltoolbar li a .icon+span {
	display: inline-block;
	padding-left: 22px;
}
.portaltoolbar .topBarInner .barButtons li ul {
	-webkit-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
}
.portaltoolbar .topBarInner .barButtons li ul li a .icon {
	top: 7px;
}
.sectionContents .controls.clearfix {
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 );
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	-webkit-box-shadow: 00px 00px 3px 3px rgba(00, 00, 00, .07);
	box-shadow: 00px 00px 3px 3px rgba(00, 00, 00, .07);
}
.formfields {
	/* [disabled]padding-top: 10px;
*/
	position: relative;
	/* [disabled]min-height: 400px;
*/
}
.formfields .control-group.buttons {
	position: absolute;
	bottom: 0px;
	padding-bottom: 20px;
}
h3 {
	margin-bottom: 12px;
}
.boxSubheader .boxControls {
	position: absolute;
	right: 0px;
	top: 0px;
}
.boxSubheader {
	position: relative;
}
.expandControl h3 {
	padding-left: 26px;
	background-image: url(../img/icon-arrow-down.png);
	background-repeat: no-repeat;
	background-position: 10px 9px;
}
.expandControl.closed h3 {
	background-image: url(../img/icon-arrow-right.png);
}
.expandControl h4 {
	padding-left: 18px;
	background-image: url(../img/icon-arrow-down.png);
	background-repeat: no-repeat;
	background-position: 2px 4px;
}
.expandControl.closed h4 {
	background-image: url(../img/icon-arrow-right.png);
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { /*
	[disabled]width: 1200px;
*/
}
.box .boxHeader h4 {
 color:;
	font-size: 13px;
 font-weight:;
}
.tool-link {
	font-style: italic;
	font-size: 11px;
	font-weight: normal;
}
.row-fluid.column-navleft {
	background-image: url(../img/nav-back.png);
	background-repeat: repeat-y;
	background-position: -60px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	min-height: 510px;
}
.docControls {
	text-align: center;
	padding-bottom: 30px;
	background: #FFF;
	padding-top: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #ddd;
}
.docHeader h2 span {
	color: #666;
	font-weight: normal;
}
.docHeader .docMeta ul {
	list-style: none;
	margin: 0px;
	margin-top: 20px;
}
.docHeader .docMeta ul li {
	display: inline;
	color: #666;
}
.docHeader .docMeta ul li a {
	padding-left: 16px;
	margin-right: 16px;
}
.docHeader .docMeta ul li a {
	background-image: url(../img/icons-docheader.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.docHeader .docMeta ul li a.icons-docheader-access {
	background-position: 0 0;
	width: 12px;
	height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-copy {
	background-position: 0 -62px;
	width: 12px;
	height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-hierarchy {
	background-position: 0 -124px;
	width: 12px;
	height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-medusa {
	background-position: 0 -186px;
	width: 12px;
	height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-print {
	background-position: 0 -248px;
	width: 12px;
	height: 12px;
}
.docHeader .docMeta ul li span {
	color: #000;
	font-weight: bold;
}
.docHeader {
	position: relative;
}
.docHeader.clearfix .span6 h2 {
	margin-bottom: 0px;
	line-height: 30px;
}
.docHeader .docTitle {
	font-size: 1.1em;
	line-height: 12px;
}
.docHeader .docMeta {
	font-size: .85em;
}
.docHeader .btn-group {
	position: absolute;
	right: 0px;
	top: 16px;
}
.docHeader .docStatus {
	position: absolute;
	right: 0px;
	bottom: 4px;
	font-size: 0.85em;
	color: #666;
}
.sectionContents .container.leftnav .leftnavContent {
	background-image: url(../img/nav-back.png);
	background-repeat: repeat-y;
	background-position: 0px, -157px;
}
#---------------------------------------------New Toc { /* TC - marker for dreamweaver css manager */
}
#ToC {
	display: block;
	float: left;
	width: 200px;
	z-index: 16;
}
#ToC li a i {
	vertical-align: top;
	/* [disabled]background-image: url('../img/glyphicons-halflings-white.png');
*/
	opacity: .5;
	margin-top: 2px;
}
#ToC > ul {
	list-style: none;
	padding: 0px;
	widthhhhh: 200px;
	margin: 0px 0 0;
	border-bottom: none;
}
#ToC > ul > li {
	display: block;
	color: #d1d0d0 !important;
	background-color: #F1EFF2;
	background-image: url(../img/nav-back.png);
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #fff;
	border-bottom-color: #ddd;
}
#ToC > ul > li:hover {
	border-top-color: #8C012C;
}
#ToC > ul > li.open {
	background: #aa003e;
	background-image: url(../img/active.png);
	background-repeat: no-repeat;
	background-position: right center;
	border-top-color: #8C012C;
}
#ToC > ul > li.open [class^="cus-"], #ToC > ul > li.open [class*=" cus-"] {
	background-image: url("../img/icons-custom-white.png");
}
#ToC > ul > li:hover [class^="cus-"], #ToC > ul > li:hover [class*=" cus-"] {
	background-image: url("../img/icons-custom-white.png");
}
#ToC > ul > li.active [class^="cus-"], #ToC > ul > li:active [class*=" cus-"] {
	background-image: url("../img/icons-custom-white.png");
}
#ToC > ul > li.active {
	background: #aa003e;
	background-image: url(../img/active.png);
	background-repeat: no-repeat;
	background-position: right center;
	border-top-color: #8C012C;
}
#ToC > ul > li.active a {
	color: #FFF;
}
#ToC > ul > li > a {
	display: block;
	color: #000000;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 6px;
	padding-left: 15px;
	text-decoration: none;
}
#ToC > ul > li.open > a {
	color: #ffffff;
	text-shadow: 0 1px 1px #333 !important;
	background-image: url(../img/active.png), none;
	background-repeat: no-repeat;
	background-position: right center;
}
#ToC > ul > li > a:hover {
	background-color: #aa003e;
	color: #ffffff;
	text-shadow: 0 1px 1px #333 !important;
	background-image: url(../img/active.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#ToC > ul > li > a > i {
	margin-right: 10px;
}
#ToC > ul > li.active > a {
	background: url("../img/leftnav-active.png") no-repeat scroll right center transparent !important;
}
#ToC > ul > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	background-color: #333333;
}
#ToC > ul ul {
	display: none;
	margin: 0;
	padding: 0;
	/* [disabled]box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
*/
	border-top: 1px solid #4E4E4E;
	background-color: #FFF;
	list-style: none;
}
#ToC > ul li.open ul {
	display: block;
}
#ToC > ul > li.open.submenu > a {
	border-bottom: none;
}
#ToC > ul > li.open.active.submenu > a {
	border-bottom: 1px solid #2A2A2A;
}
#ToC > ul ul li {
	padding-left: 0px;
}
#ToC > ul ul li a {
	color: #777777;
	display: block;
	padding-top: 6px;
	padding-right: 0;
	padding-bottom: 6px;
	padding-left: 50px;
	font-size: 12px;
}
#ToC > ul ul li a {
	display: block;
	color: #777777;
	border-top: none;
	border-bottom: 1px solid #ddd;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 25px;
}
#ToC > ul ul li:first-child a {
	border-top: 0;
}
#ToC > ul ul li:last-child a {
	border-bottom: 0;
}
#ToC > ul ul li a {
	text-decoration: none;
	background-image: url(../img/border.png);
	background-repeat: repeat-y;
	background-position: right;
}
#ToC > ul ul li.active a {
	color: #000;
	font-weight: bold;
}
#ToC > ul ul li a:hover {
	background-color: #272727;
}
#ToC > ul ul li.active a:hover {
	background-color: #ffe5e5;
}
#ToC > ul ul li.active > a {
	background-attachment: scroll;
	background-color: #ffe5e5;
	background-image: url(../img/active.png), url(../img/border.png);
	background-repeat: no-repeat, repeat-y;
	background-position: right center, right;
}
#ToC > ul ul li a:hover {
	background-color: #FFF;
	background-image: url(../img/active.png), url(../img/border.png);
	background-repeat: no-repeat, repeat-y;
	background-position: right center, right;
}
#ToC > ul > li.nopointer > a {
	background-image: none;
	background-color: #000;
}
#content {
	margin-left: 200px;
	margin-right: 0;
	padding-bottom: 25px;
	position: relative;
	min-height: 450px;
	width: auto;
	/* [disabled]background-color: #e0e0e0;
*/
	background-image: none;
	padding: 20px;
}
#content .content {
	max-width: 980px;
}
/* Responsive - phone */
#---------------------------------------------responsive less_than_480px { /* TC - marker for dreamweaver css manager */
}
 @media (max-width: 480px) {
.responsiveCue {
	background: pink;
}
body {
	background: #000;
	padding: 0px;
}
.docHeader {
	border: none
}
.docHeader.clearfix .span6 h2 {
	margin-bottom: 0px;
	line-height: 30px;
	margin-top: 0px;
	padding-right: 12px;
	padding-left: 12px;
}
.docHeader .docTitle {
	font-size: 1.1em;
	line-height: 12px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 10px;
}
.sectionContents {
	padding-left: 20px;
	padding-right: 20px;
}
.sectionContents .container.leftnav {
	background-image: none;
}
.sectionContents .container.leftnav .leftnavContent {
	background-image: none;
}
#content {
	min-height: 300px;
}
.sectionContents .controls.clearfix {
	margin-left: -20px;
	margin-right: -20px;
}


.sectionContents.col2 {
	margin-left: -20px;
	margin-right: -20px;
}

.sectionContents.col2 .controls.clearfix {
margin-left: 0px;
margin-right: 0px;
}


.portaltoolbar {
	width: 100%;
}
.footer .foundation {
	margin-left: 12px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand div.logoBrand {
	width: 160px;
	height: 70px;
	background-image: url(../img/logo-small.png);
	position: absolute;
	z-index: 11111111;
	top: 0px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse {
	float: none;
}
.nav {
	padding-top: 20px;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0px;
	margin-left: 0px;
}
.navbar-inner .container .submenus {
	position: relative;
	margin-top: inherit;
}
.subnav {
 min-width:;
	width: 90%;
	left: inherit;
	top: 0px;
 position:;
	z-index: 1200;
	display: none;
}
#content {
	margin-left: 0 !important;
	border-top-left-radius: 0;
}
#ToC > a.visible-phone {
	color: #FFF;
	text-decoration: none;
	text-transform: none;
	border-bottom: none;
	background: rgb(81,81,81);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxNTE1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(81,81,81,1) 0%, rgba(43,43,43,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(81,81,81,1)), color-stop(100%, rgba(43,43,43,1)));
	background: -webkit-linear-gradient(top, rgba(81,81,81,1) 0%, rgba(43,43,43,1) 100%);
	background: -o-linear-gradient(top, rgba(81,81,81,1) 0%, rgba(43,43,43,1) 100%);
	background: -ms-linear-gradient(top, rgba(81,81,81,1) 0%, rgba(43,43,43,1) 100%);
	background: linear-gradient(to bottom, rgba(81,81,81,1) 0%, rgba(43,43,43,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#2b2b2b', GradientType=0 );
	
}
#ToC {
	float: none;
	width: 100% !important;
}
#ToC > a {
	padding: 7px 20px 7px 15px;
	box-shadow: 0 1px 0 #666666;
	margin-bottom: 1px;
	display: block !important;
	text-transform: uppercase;
	color: #CC0000;
 font-size:;
}
#ToC > a > i {
	margin-right: 10px;
	background-image: url('../img/glyphicons-halflings-white.png');
}
#ToC > ul {
	display: none;
	widthhhh: 100%;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	margin-top: 0px;
	
	margin-bottom: 0px;
	
}
#ToC > ul > li.active > a {
	background: none !important;
}
#ToC > ul > li > a > span {
	display: inline !important;
}
#ToC > a {
	background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
	border-bottom: 1px solid #6e6e6e;
}
#ToC > ul {
	background-color: #444444;
}
#ToC > ul > li {
	background-image: none;
}
.docHeader .span6+.span6, .docMeta, .controlsss {
	display: none;
}
}
≠ #---------------------------------------------responsive_481px-979px { /* 481px - 979px */
}

/* Responsive - tablet */

@media (min-width: 481px) and (max-width: 979px) {
.responsiveCue {
	background: gray;
}
body {
	/* [disabled]padding: 0 !important;
 */
	padding-top: 0px;
	background-color: #000;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 100%;
}
.portaltoolbar {
	width: 100%;
}
.sectionContents {
	/* [disabled]padding-left: 20px;
*/
	/* [disabled]padding-right: 20px;
*/
}
.sectionContents .container.leftnav .leftnavContent {
	background-image: url(../img/nav-back.png);
	background-repeat: repeat-y;
	background-position: -157px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand div.logoBrand {
	width: 160px;
	height: 70px;
	background-image: url(../img/logo-small.png);
	position: absolute;
	z-index: 11111111;
	top: 0px;
}
.navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse {
	float: none;
}


.sectionContents.col2 .controls.clearfix {
margin-left: 0px;
margin-right: 0px;
}

.nav {
	padding-top: 20px;
}
.docHeader {
	padding-right: 12px;
	padding-left: 12px;
}
.docHeader .btn-group {
	margin-right: 12px;
}
.docHeader .span6 {
	width: 100%;
}
.docHeader .span6+.span6 {
	display: none;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	/* [disabled]margin-right: 0px;
 */
	/* [disabled]margin-left: 0px;
 */
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
}
.navbar-inner .container .submenus {
	position: relative;
	margin-top: inherit;
}
.sectionContents .controls.clearfix {
	margin-left: -20px;
	margin-right: -20px;
}
.subnav {
	width: 100%;
	left: inherit;
	top: 0px;
	position: relative;
	z-index: 1200;
	display: none;
	padding: 0px;
}
.sectionContents {
	padding-left: 20px;
	padding-right: 20px;
}


.sectionContents.col2{
	margin-left: -20px;
	margin-right: -20px;
}

.thirdTier {
	display: none;
}
#ToC {
	position: absolute;
}
#ToC, #ToC > ul {
	width: 43px;
}
#ToC > ul ul {
	display: none;
	position: absolute;
	left: 50px;
	top: 0;
	min-width: 150px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	/* [disabled]border-radius: 5px;
 */
	list-style: none;
}
#ToC > ul ul li a {
	white-space: nowrap;
	padding: 10px 25px;
}
#ToC > ul ul:before {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	display: inline-block;
	left: -6px;
	position: absolute;
	top: 11px;
}
#ToC > ul ul:after {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	display: inline-block;
	left: -5px;
	position: absolute;
	top: 12px;
}
#ToC > a {
	display: none !important;
}
#ToC > ul > li > a > span {
	display: none;
}
#ToC > ul > li {
	background-image: url(../img/border.png);
	background-repeat: repeat-y;
	background-position: right;
}
#ToC > ul > li.open {
	background-image: none;
}
#ToC > ul > li.open > a {
	background-image: none, none;
}
#ToC > ul ul li > a, #ToC > ul ul li.active > a {
	background-image: none, none;
}
#ToC > ul ul li a:hover {
	background-color: #FFF;
	background-image: url(../img/active.png), none;
	background-repeat: no-repeat, repeat-y;
	background-position: right center, right;
}
#ToC > ul > li.active, #ToC > ul > li:hover > a {
	background: #aa003e;
	background-image: url(../img/active-small.png);
	background-repeat: no-repeat;
	background-position: right center;
	border-top-color: #8C012C;
}
#content {
	margin-left: 43px;
}
}
 @media (min-width: 481px) and (max-width: 767px) {
.responsiveCue {
	background: orange;
}
body {
	margin-left: -20px;
	margin-right: -20px;
	overflow: hidden;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0px;
	margin-left: 0px;
}
.sectionContents .container.leftnav .leftnavContent {
	background-image: url(../img/nav-back.png);
	background-repeat: repeat-y;
	background-position: -157px;
}
}
#---------------------------------------------Responsive greater_than_1200px { /* TC - marker for dreamweaver css manager */
}
 @media (min-width: 1200px) {
.responsiveCue {
	background: yellow;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1200px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1200px;
}
.subnav {
	width: 1000px;
	left: 160px;
}
.portaltoolbar {
	width: 1200px;
}
.row-fluid.column-navleft {
	background-position: -31px;
}
}
#---------------------------------------------end responsive { /* TC - marker for dreamweaver css manager */
}






.boxContent .well {
	padding: 19px 19px 3px 19px !important;
}

.boxContent .well h4 {
	margin: 0 0 12px 0 !important;
}

.boxContent .well .progress-details {

}

.boxContent .well .progress-details .empty {
	float: left;
	text-align: center;
	padding: 4px 0 6px 0;
	color: #aaa;
}

.boxContent .well .progress-details .empty.active {
	color: inherit;
}

.boxContent .well .progress-details .empty.complete {
	color: inherit;
}

.boxContent .well .progress-details .empty.active {
	font-weight: 700;
}

.boxContent .well .progress {
	clear: both;
}

.boxContent .well .progress .bar.active {
	/*background: ;*/
}.tab-content #Summary .well {
	background: ;
	padding:12px;
}
#Summary .well h4 {
	margin-top: 0px;
	margin-bottom:40px;
}
.summary .boxHeader h4 {
	min-height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding-top: 8px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 24px;
	background-position: 8px;
}
