<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Service name="Catalina">
    <Connector URIEncoding="UTF-8" port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="443" compression="force" />
    <Connector port="8443" protocol="HTTP/1.1" SSLEnabled="true" connectionTimeout="20000"
      maxThreads="200" scheme="https" 
      URIEncoding="UTF-8"
      SSLCertificateKeyFile="${catalina.base}/conf/ssl/SSLCertificateKeyFile.pem"
      SSLCertificateFile="${catalina.base}/conf/ssl/SSLCertificateFile.pem"
      SSLCertificateChainFile="${catalina.base}/conf/ssl/SSLCertificateChainFile.pem"
      SSLProtocol="TLSv1"
    />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" prefix="localhost_access_log." suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b" />
        <Context docBase="${catalina.base}/logs" path="/tomcat/logs" allowLinking="true" />
        <Context docBase="${catalina.base}/webapps/resources" path="/tomcat/resources" allowLinking="true" />
      </Host>
    </Engine>
  </Service>
</Server>
