@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/*
	Kuali Coeus, Prototype
	Master stylesheet and base styles
*/
/*
	Fonts
*/
/*
	LESS variables
	You can create variables here which can be used throughout the stylesheet(s)
	This makes it easy to update a color, font size, or anything else.
*/
header .navbar .nav > .active > a,
header .navbar .nav > .active > a:hover,
header .navbar .nav > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #aa003e;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
}
header .navbar .nav > li > a {
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner {
  background: #aa003e;
  background-image: none;
  border-bottom: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse {
  float: right;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav {
  margin: 0px;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li {
  border-top-style: none;
  text-transform: none;
  text-shadow: 0 1px 0 #000000 !important;
  font-size: 1.2em !important;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li a {
  color: #d2d2d2 !important;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse .nav li a:hover {
  background: #ce004b;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .container #menu1 .row .span3 ul li {
  font-size: 12px;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand .logoBrand {
  width: 200px;
  height: 69px;
  background-image: url(../../img/logo.png);
  position: absolute;
  z-index: 11111111;
  top: 0px;
}
header .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand .logoBrand h1 span {
  display: none;
}
header .navbar-inverse .brand,
header .navbar-inverse .navbar-inverse .nav > li > a {
  color: #CCC;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
header .navbar-inverse .navbar-inverse {
  background: #aa003e;
  background-image: none;
}
header .navbar-inverse .nav .active > a,
header .navbar-inverse .nav .active > a:hover,
header .navbar-inverse .nav .active > a:focus {
  color: #fff;
  background: #aa003e;
}
header .navbar-inner .container .submenus {
  position: absolute;
  margin-top: 53px;
  font-size: .9em;
}
header .navbar-fixed-top {
  margin-bottom: 0px;
}
header .navbar-fixed-top .navbar-inner,
header .navbar-fixed-top .navbar-fixed-bottom .navbar-inner {
  padding-bottom: 0px;
}
header .subnav {
  background: #FFF;
  padding: 20px;
  width: 900px;
  left: 258px;
  position: absolute;
  z-index: 1200;
  -webkit-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.4);
  display: none;
}
header .subnav h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  margin-bottom: 12px;
  font-size: 1.1em;
}
header .subnav h4 {
  font-size: inherit;
  font-weight: normal;
}
header .sectionContents .container.leftnav .leftnavContent {
  background-image: url(../../img/nav-back.png);
  background-repeat: repeat-y;
  background-position: 0px, -157px;
  display: block;
  clear: both;
}
header .sectionContents .container.leftnav .leftnavContent:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}
header .portaltoolbar {
  -webkit-box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
header .portaltoolbar a {
  text-decoration: none;
}
header .portaltoolbar ul.barButtons {
  margin: 0;
  float: right;
}
header .portaltoolbar ul.barButtons > li {
  float: left;
  list-style: none;
  position: relative;
  zoom: 1;
  overflow: visible !important;
}
header .portaltoolbar ul.barButtons > li > a {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  color: #333333;
  text-shadow: 0 1px 0 #fff;
  padding: 0 12px;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: inset 1px 1px 0 0 #fff;
  -moz-box-shadow: inset 1px 1px 0 0 #fff;
  box-shadow: inset 1px 1px 0 0 #fff;
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
header .portaltoolbar ul.barButtons > li > a:hover,
header .portaltoolbar ul.barButtons > li.active > a {
  background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0);
}
header .portaltoolbar ul.barButtons > li > ul {
  position: absolute;
  right: 0;
  top: 100%;
  width: 170px;
  z-index: 99;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  display: none;
  margin: 0 -1px 0 0;
  zoom: 1;
}
header .portaltoolbar ul.barButtons > li > ul > li {
  list-style: none;
  position: relative;
}
header .portaltoolbar ul.barButtons > li > ul > li > a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #333333;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  font-size: 11px;
  zoom: 1;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 1px 0 0 #fff;
  -moz-box-shadow: inset 0px 1px 0 0 #fff;
  box-shadow: inset 0px 1px 0 0 #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eaeaea', GradientType=0);
  background: #ffffff;
}
header .portaltoolbar ul.barButtons > li > ul > li > a:hover {
  background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0);
}
header .portaltoolbar i.icon {
  opacity: .3;
}
header .portaltoolbar .topBarInner .barButtons li a .icon {
  position: absolute;
}
header .portaltoolbar .topBarInner .barButtons li a .icon + span {
  display: inline-block;
  padding-left: 22px;
}
header .portaltoolbar .topBarInner .barButtons li ul {
  -webkit-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
}
header .portaltoolbar .topBarInner .barButtons li ul li a .icon {
  top: 7px;
}
.portaltoolbar {
  -webkit-box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.portaltoolbar a {
  text-decoration: none;
}
.portaltoolbar i.icon {
  opacity: .3;
}
.portaltoolbar ul.barButtons {
  margin: 0;
  float: right;
}
.portaltoolbar ul.barButtons li a {
  font-size: 1em !important;
  height: auto !important;
  max-height: 1.6em !important;
  padding: .25em .5em !important;
}
.portaltoolbar ul.barButtons li ul li a {
  max-height: 100% !important;
}
.portaltoolbar ul.barButtons > li {
  float: left;
  list-style: none;
  position: relative;
  zoom: 1;
  overflow: visible !important;
}
.portaltoolbar ul.barButtons > li > a {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  color: #333333;
  text-shadow: 0 1px 0 #fff;
  padding: 0 12px;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: inset 1px 1px 0 0 #fff;
  -moz-box-shadow: inset 1px 1px 0 0 #fff;
  box-shadow: inset 1px 1px 0 0 #fff;
  zoom: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.portaltoolbar ul.barButtons > li > a:hover,
.portaltoolbar ul.barButtons > li.active > a {
  background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0);
}
.portaltoolbar ul.barButtons > li > ul {
  position: absolute;
  right: 0;
  top: 100%;
  width: 170px;
  z-index: 99;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  display: none;
  margin: 0 -1px 0 0;
  zoom: 1;
}
.portaltoolbar ul.barButtons > li > ul > li {
  list-style: none;
  position: relative;
}
.portaltoolbar ul.barButtons > li > ul > li > a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #333333;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  font-size: 11px;
  zoom: 1;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 1px 0 0 #fff;
  -moz-box-shadow: inset 0px 1px 0 0 #fff;
  box-shadow: inset 0px 1px 0 0 #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eaeaea', GradientType=0);
  background: #ffffff;
}
.portaltoolbar ul.barButtons > li > ul > li > a:hover {
  background: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f8f8f8', GradientType=0);
}
.portaltoolbar .topBarInner ul.barButtons li a .icon {
  position: relative !important;
  margin-top: -3px !important;
}
.portaltoolbar .topBarInner ul.barButtons li a .icon + span {
  display: inline-block;
  padding-left: 22px;
}
.portaltoolbar .topBarInner ul.barButtons li a span {
  padding-left: 4px !important;
}
.portaltoolbar .topBarInner ul.barButtons li ul {
  -webkit-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 14px rgba(50, 50, 50, 0.2);
}
.portaltoolbar .topBarInner ul.barButtons li ul li a .icon {
  top: 7px;
}
.breadcrumb {
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 0px;
  padding-top: 0px;
}
.docHeader {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 4px;
}
.docHeader h2 {
  display: inline;
  margin-right: 12px;
}
.docHeader h2 span {
  color: #888;
  font-weight: normal;
}
.docHeader .docMeta {
  font-size: .85em;
  margin: 1% 0 1% 0;
}
.docHeader .docMeta ul {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
}
.docHeader .docMeta ul li {
  display: inline;
  color: #666;
}
.docHeader .docMeta ul li a {
  padding-left: 16px;
  margin-right: 16px;
  background-image: url(../../img/icons-docheader.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.docHeader .docMeta ul li a.icons-docheader-access {
  background-position: 0 0;
  width: 12px;
  height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-copy {
  background-position: 0 -62px;
  width: 12px;
  height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-hierarchy {
  background-position: 0 -124px;
  width: 12px;
  height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-medusa {
  background-position: 0 -186px;
  width: 12px;
  height: 12px;
}
.docHeader .docMeta ul li a.icons-docheader-print {
  background-position: 0 -248px;
  width: 12px;
  height: 12px;
}
.docHeader .docMeta ul li span {
  color: #000;
  font-weight: bold;
}
.docHeader .docStatus {
  position: absolute;
  right: 0px;
  bottom: 12px;
  font-size: 0.85em;
  color: #666;
}
.docHeader .header-meta {
  margin-bottom: .55em;
  float: left;
}
.docHeader .header-meta .initiator,
.docHeader .header-meta .updated,
.docHeader .header-meta .more {
  display: inline;
  margin-right: 1em;
}
.docHeader .header-meta .initiator span,
.docHeader .header-meta .updated span,
.docHeader .header-meta .more span {
  color: #888;
}
.docHeader .header-status {
  margin-bottom: .55em;
  float: right;
}
.docHeader .header-status .completion,
.docHeader .header-status .actions {
  display: inline;
  margin-left: 1em;
}
.docHeader .header-status .completion span,
.docHeader .header-status .actions span {
  color: #888;
}
.docHeader .docTitle {
  font-size: 1.1em;
  line-height: 12px;
  margin-top: 1%;
}
.docHeader .btn-group {
  position: absolute;
  right: 0px;
  top: 16px;
}
.docHeader.clearfix .span6 h2 {
  margin-bottom: 0px;
  line-height: 30px;
}
.docControls {
  text-align: center;
  padding-bottom: 30px;
  background: #FFF;
  padding-top: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-color: #ddd;
  width: 1200px;
  display: none;
}
.submenus ul li {
  line-height: 130% !important;
  margin-bottom: 2%;
}
#ToC {
  display: block;
  width: 100%;
  z-index: 16;
}
#ToC ul li a i {
  vertical-align: top;
  opacity: .5;
  margin-top: 2px;
}
#ToC a:hover {
  text-decoration: underline;
}
#ToC-sticky-wrapper {
  width: 200px;
  float: left;
  display: inline;
}
#ToC > ul {
  list-style: none;
  padding: 0px;
  width: 200px;
  margin: 0px 0 0;
  border-bottom: none;
}
#ToC > ul > li {
  display: block;
  color: #d1d0d0 !important;
  background-color: #F1EFF2;
  background-image: url(../../img/nav-back.png);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #fff;
  border-bottom-color: #ddd;
}
#ToC > ul > li:hover {
  border-top-color: #8C012C;
}
#ToC > ul > li.open {
  background: #aa003e;
  background-image: url(../../img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
  border-top-color: #8C012C;
}
#ToC > ul > li.open [class^="cus-"],
#ToC > ul > li.open [class*=" cus-"] {
  background-image: url("../../img/icons-custom-white.png");
}
#ToC > ul > li:hover [class^="cus-"],
#ToC > ul > li:hover [class*=" cus-"] {
  background-image: url("../../img/icons-custom-white.png");
}
#ToC > ul > li.active [class^="cus-"],
#ToC > ul > li:active [class*=" cus-"] {
  background-image: url("../../img/icons-custom-white.png");
}
#ToC > ul > li.active {
  background: #aa003e;
  background-image: url(../../img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
  border-top-color: #8C012C;
}
#ToC > ul > li.active a {
  color: #ffffff;
}
#ToC > ul > li > a {
  display: block;
  color: #000000;
  padding-top: 6px;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 15px;
  text-decoration: none;
}
#ToC > ul > li.open > a {
  color: #ffffff;
  text-shadow: 0 1px 1px #333 !important;
  background-image: url(../../img/active.png), none;
  background-repeat: no-repeat;
  background-position: right center;
}
#ToC > ul > li > a:hover {
  background-color: #aa003e;
  color: #ffffff;
  text-shadow: 0 1px 1px #333 !important;
  background-image: url(../../img/active.png);
  background-repeat: no-repeat;
  background-position: right center;
}
#ToC > ul > li > a > i {
  margin-right: 10px;
}
#ToC > ul > li.active > a {
  background: url("../../img/leftnav-active.png") no-repeat scroll right center transparent !important;
}
#ToC > ul > li > a > .label {
  margin: 0 20px 0 0;
  float: right;
  padding: 3px 5px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #333333;
}
#ToC > ul ul {
  display: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #4E4E4E;
  background-color: #FFF;
  list-style: none;
}
#ToC > ul ul li {
  padding-left: 0px;
}
#ToC > ul ul li a {
  display: block;
  color: #777777;
  border-top: none;
  border-bottom: 1px solid #ddd;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 25px;
  text-decoration: none;
  background-image: url(../../img/border.png);
  background-repeat: repeat-y;
  background-position: right;
}
#ToC > ul ul li a:hover {
  background-color: #272727;
}
#ToC > ul ul li.active a {
  color: #000000;
  font-weight: bold;
  background-attachment: scroll;
  background-color: #ffe5e5;
  background-image: url(../../img/active.png), url(../../img/border.png);
  background-repeat: no-repeat, repeat-y;
  background-position: right center, right;
}
#ToC > ul ul li.active a:hover {
  background-color: #fff;
  background-image: url(../../img/active.png), url(../../img/border.png);
  background-repeat: no-repeat, repeat-y;
  background-position: right center, right;
}
#ToC > ul ul li.open ul {
  display: block;
}
#ToC > ul ul li.open.submenu > a {
  border-bottom: none;
}
#ToC > ul ul li.open.active.submenu > a {
  border-bottom: 1px solid #2a2a2a;
}
#ToC > ul ul li:first-child a {
  border-top: 0;
}
#ToC > ul ul li:last-child a {
  border-bottom: 0;
}
#ToC > ul > li.nopointer > a {
  background-image: none;
  background-color: #000;
}
#content {
  float: left;
  display: inline;
  width: 970px;
  min-height: 450px;
  margin: 0;
  padding: 0 0 25px 0;
  position: relative;
  background-image: none;
}
#content .content {
  max-width: 980px;
  padding-left: 20px;
}
#content table tr td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.boxSubheader {
  position: relative;
}
.boxSubheader h4 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  color: #000;
  font-size: 13px;
  margin-top: 0px;
  padding-top: 0px;
}
.boxSubheader .boxControls {
  position: absolute;
  right: 0px;
  top: 0px;
}
.boxContent .well {
  padding: 19px 19px 3px 19px !important;
}
.boxContent .well h4 {
  margin: 0 0 12px 0 !important;
}
.boxContent .well .progress-details .empty {
  float: left;
  text-align: center;
  padding: 4px 0 6px 0;
  color: #aaa;
}
.boxContent .well .progress-details .empty.active {
  color: inherit;
  font-weight: 700;
}
.boxContent .well .progress-details .empty.complete {
  color: inherit;
}
.boxContent .well .progress {
  clear: both;
}
.tab-content #Summary .well {
  padding: 12px;
}
.tab-content #Summary .well h4 {
  margin-top: 0px;
  margin-bottom: 40px;
}
.summary .boxHeader h4 {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 8px;
  padding-left: 24px;
  background-position: 8px;
}
.box .boxHeader h4 {
  font-size: 13px;
}
.sectionContents {
  background: #FFF;
  min-height: 500px;
}
.sectionContents .controls.clearfix {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
}
.sectionContents nav {
  padding-top: 11px;
}
.splash .container {
  height: 300px;
}
.splash .container .marketingBlurb {
  width: 430px;
}
.splash .container .marketingBlurb .graphic {
  position: absolute;
  height: 299px;
  width: 475px;
  background-image: url(../../img/splashGraphic1.png);
  margin-left: 465px;
  margin-top: -180px;
}
.thirdTier {
  color: $text_white;
  background-color: #333;
}
.thirdTier .container {
  background-image: url(../img/sectionShadow.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.thirdTier .blurb {
  color: #ccc;
}
.thirdTier .blurb.testimonials {
  color: #ccc;
  font-style: italic;
}
.thirdTier ul {
  list-style: none;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #a45971;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
}
.thirdTier ul li {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #a45971;
  padding-top: 4px;
  padding-bottom: 4px;
}
.thirdTier .blurb.tweets ul li {
  padding-left: 24px;
  background-image: url(../../img/icon-twitter.png);
  background-repeat: no-repeat;
  background-position: 2px 5px;
}
.thirdTier .blurb.tweets ul li .timestamp {
  font-size: 0.7em;
  font-style: italic;
  color: #999;
}
.sectionHeader {
  position: relative;
}
.sectionHeader .controls {
  position: absolute;
  top: 20px;
  right: 0px;
}
.sectionHeader .controls .btn-group {
  display: inline;
}
.sectionContents .tools .controls {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
form {
  margin: 0px;
}
.form-horizontal .control-group {
  margin-bottom: 8px;
}
.form-horizontal .modal-header,
.form-horizontal .modal-footer {
  margin-bottom: 0;
  text-align: left;
  background-color: #EFEFEF;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  margin-top: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
.form-horizontal .formfields {
  min-height: 500px;
}
.search-tools {
  position: absolute;
  right: 12px;
  top: 10px;
}
.search-tools .btn-group {
  color: #000;
}
.search-tools .menuheader {
  padding: 4px;
}
.search-tools .clearlist a {
  font-style: italic;
  color: #999;
}
#editSearch {
  background: #efefef;
  width: 1200px;
  display: none;
}
#editSearch .editSearchForm {
  padding: 20px;
  margin-bottom: 20px;
}
#editSearch .editSearchForm h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  margin-bottom: 20px;
}
.contentMain h4 {
  font-size: inherit;
  font-weight: normal;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}
.footer {
  background: #000000;
  color: #ffffff;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #ffffff;
}
.footer .foundation {
  background-image: url(../../img/logo-kuali.png);
  background-repeat: no-repeat;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  background-position: 0px 14px;
  float: left;
}
.footer .contactLink {
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: right;
}
.footer .credit {
  color: red;
  float: right;
  background-image: url(../../../../mocks-responsive/assets/img/kradCredit.png);
  height: 45px;
  width: 93px;
  margin-top: 10px;
}
.footer .credit span {
  display: none;
}
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker table td,
.datepicker table th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table td span,
.datepicker table th span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table td span:hover,
.datepicker table th span:hover {
  background: #eeeeee;
}
.datepicker table td span.active,
.datepicker table th span.active {
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: $text_white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table td span.active,
.datepicker table th span.active,
.datepicker table td span.active:hover,
.datepicker table th span.active:hover,
.datepicker table td span.active:focus,
.datepicker table th span.active:focus {
  color: $text_white;
  background-color: #0044cc;
  *background-color: #003bb3;
  background-color: #003399 \9;
}
.datepicker table td span.old,
.datepicker table th span.old {
  color: #999;
}
.datepicker table th.switch {
  width: 145px;
}
.datepicker table th.next,
.datepicker table th.prev {
  font-size: 21px;
}
.datepicker table th:first-child {
  cursor: pointer;
}
.datepicker table th:first-child:hover {
  background: #eee;
}
.datepicker table td.day:hover {
  background: #eee;
  cursor: pointer;
}
.datepicker table td.day.disabled {
  color: #eee;
}
.datepicker table td.old,
.datepicker table td.new {
  color: #999;
}
.datepicker table td.active,
.datepicker table td.active:hover {
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: $text_white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table td.active:hover,
.datepicker table td.active:focus,
.datepicker table td.active:hover:focus,
.datepicker table td.active.disabled,
.datepicker table .datepicker td.active:hover.disabled,
.datepicker table .datepicker td.active[disabled],
.datepicker table .datepicker td.active:hover[disabled] {
  color: $text_white;
  background-color: #0044cc;
  *background-color: #003bb3;
  background-color: #003399 \9;
}
.datepicker .input-append.date .add-on i,
.datepicker .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.controls .btn-group .dropdown-menu.themes {
  right: 0px;
  left: inherit;
  min-width: inherit;
}
.controls .btn-group .dropdown-menu.options {
  right: 0px;
  left: inherit;
  min-width: inherit;
}
.controls .btn-group .dropdown-menu.right {
  left: auto;
  right: 0;
}
.controls .btn-group .dropdown-menu.right:before {
  left: auto !important;
  right: 9px;
}
.controls .btn-group .dropdown-menu.right:after {
  left: auto !important;
  right: 10px;
}
ol.linenums li {
  line-height: 16px;
}
ol.linenums li:nth-of-type(odd) {
  background: #fff;
}
.demo .widgetShowcase .widgetContainers .widgetContent {
  padding: 20px;
}
.demo .widgetShowcaseLarge {
  margin-bottom: 40px;
}
.demo .widgetShowcaseLarge .widgetContainers {
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 300px;
}
.demo .widgetShowcaseLarge .widgetContainers .widgetContainer {
  min-height: 600px;
}
.tools {
  background-color: #F0EFF2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E3E3;
}
.tools .alistdocsearch {
  margin-left: 70px;
  float: left;
}
.tools .login {
  float: right;
}
.modal-header h3 {
  font-weight: 700;
}
.modal-footer {
  text-align: center;
}
.btn.lookup {
  background: none;
  background-image: url(../../../img/icon-lookup.png);
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
}
.btn.lookup span {
  display: none;
}
dl.table-display {
  float: left;
  width: 600px;
  margin: 1em 0;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E3E3;
}
dl.table-display dt {
  clear: left;
  float: left;
  width: 160px;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E3E3;
  font-weight: normal;
  background-color: #F1F1F1;
  text-align: right;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 0px;
}
dl.table-display dd {
  float: left;
  width: 416px;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E3E3;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}
.vertNav {
  min-height: 500px;
  background-image: url(../../../img/border.png);
  background-repeat: repeat-y;
  background-position: right;
  padding-top: 0px;
  background-color: #f5f5f5;
}
dl.headermeta {
  padding: 0em;
  font-size: 11px;
  margin: 0px;
}
dl.headermeta dt {
  float: left;
  clear: left;
  width: 40px;
  text-align: left;
  color: #000;
  line-height: 12px;
  font-weight: normal;
}
dl.headermeta dt:after {
  content: ":";
}
dl.headermeta dd {
  margin: 0 0 0 60px;
  padding: 0;
  font-style: italic;
  color: #666;
  line-height: 12px;
}
.formfields {
  position: relative;
}
.formfields .control-group.buttons {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
}
.expandControl h3 {
  padding-left: 26px;
  background-image: url(../img/icon-arrow-down.png);
  background-repeat: no-repeat;
  background-position: 10px 9px;
}
.expandControl h4 {
  padding-left: 18px;
  background-image: url(../img/icon-arrow-down.png);
  background-repeat: no-repeat;
  background-position: 2px 4px;
}
.expandControl.closed h3 {
  background-image: url(../img/icon-arrow-right.png);
}
.expandControl.closed h4 {
  background-image: url(../img/icon-arrow-right.png);
}
.tool-link {
  font-style: italic;
  font-size: 11px;
  font-weight: normal;
}
.row-fluid.column-navleft {
  background-image: url(../img/nav-back.png);
  background-repeat: repeat-y;
  background-position: -60px;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  min-height: 510px;
}
.form-horizontal {
  max-width: 768px;
}
.form-horizontal .control-group {
  margin: 0;
  padding: 1%;
}
.form-horizontal .control-group:first-child {
  border-top: 0px;
}
/*
	Responsive styles
	We want to go biggest to smallest instead of smallest to biggest
*/
.responsiveCue {
  right: 0px;
  top: 340px;
  display: none;
  position: absolute;
  background: red;
}
@media (min-width: 1200px) {
  .responsiveCue {
    background: yellow;
  }
  .container .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1200px !important;
  }
  .subnav {
    width: 1000px;
    left: 258px;
  }
  .portaltoolbar {
    width: 1200px;
  }
  .row-fluid.column-navleft {
    background-position: -31px;
  }
  .sectionContents .container {
    width: 1200px !important;
  }
}
@media (max-width: 480px) {
  .responsiveCue {
    background: pink;
  }
  body {
    background: #000;
    padding: 0px;
  }
  .docHeader {
    border: none;
  }
  .docHeader .docTitle {
    font-size: 1.1em;
    line-height: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 10px;
  }
  .docHeader.clearfix .span6 h2 {
    margin-bottom: 0px;
    line-height: 30px;
    margin-top: 0px;
    padding-right: 12px;
    padding-left: 12px;
  }
  .sectionContents {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sectionContents .container.leftnav {
    background-image: none;
  }
  .sectionContents .container.leftnav .leftnavContent {
    background-image: none;
  }
  .sectionContents .controls.clearfix {
    margin-left: -20px;
    margin-right: -20px;
  }
  .sectionContents.col2 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .sectionContents.col2 .controls.clearfix {
    margin-left: 0px;
    margin-right: 0px;
  }
  #content {
    min-height: 300px;
  }
  .portaltoolbar {
    width: 100%;
  }
  .footer .foundation {
    margin-left: 12px;
  }
  .navbar .navbar-fixed-top .navbar-inner,
  .navbar .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
  .navbar .navbar-fixed-top,
  .navbar .navbar-fixed-bottom,
  .navbar .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar .navbar-inverse.navbar-fixed-top .navbar-inner .brand div.logoBrand {
    width: 160px;
    height: 70px;
    background-image: url(../../img/logo-small.png);
    position: absolute;
    z-index: 11111111;
    top: 0px;
  }
  .navbar .navbar-inverse.navbar-fixed-top .navbar-inner .container .nav-collapse.collapse {
    float: none;
  }
  .navbar .navbar-inverse.navbar-fixed-top .navbar-inner .container .submenus {
    position: relative;
    margin-top: inherit;
  }
  .nav {
    padding-top: 20px;
  }
  .subnav {
    width: 90%;
    left: inherit;
    top: 0px;
    z-index: 1200;
    display: none;
  }
  #content {
    margin-left: 0 !important;
    border-top-left-radius: 0;
  }
  #ToC {
    float: none;
    width: 100% !important;
  }
  #ToC > a.visible-phone {
    color: #FFF;
    text-decoration: none;
    text-transform: none;
    border-bottom: none;
    background: #515151;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxNTE1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #515151 0%, #2b2b2b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515151), color-stop(100%, #2b2b2b));
    background: -webkit-linear-gradient(top, #515151 0%, #2b2b2b 100%);
    background: -o-linear-gradient(top, #515151 0%, #2b2b2b 100%);
    background: -ms-linear-gradient(top, #515151 0%, #2b2b2b 100%);
    background: linear-gradient(to bottom, #515151 0%, #2b2b2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#2b2b2b', GradientType=0);
  }
  #ToC > a {
    padding: 7px 20px 7px 15px;
    box-shadow: 0 1px 0 #666666;
    margin-bottom: 1px;
    display: block !important;
    text-transform: uppercase;
    color: #CC0000;
    background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
    border-bottom: 1px solid #6e6e6e;
  }
  #ToC > a > i {
    margin-right: 10px;
    background-image: url('../../img/glyphicons-halflings-white.png');
  }
  #ToC > ul {
    display: none;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #444444;
  }
  #ToC > ul > li {
    background-image: none;
  }
  #ToC > ul > li.active > a {
    background: none !important;
  }
  #ToC > ul > li > a > span {
    display: inline !important;
  }
  .docHeader .span6 + .span6,
  .docMeta,
  .controlsss {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 979px) {
  .responsiveCue {
    background: gray;
  }
  body {
    padding-top: 0px;
    background-color: #000;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 100%;
  }
  .portaltoolbar {
    width: 100%;
  }
  .sectionContents {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sectionContents .container.leftNav .leftnavContent {
    background-image: url(../../img/nav-back.png);
    background-repeat: repeat-y;
    background-position: -157px;
  }
  .sectionContents .controls.clearfix {
    margin-left: -20px;
    margin-right: -20px;
  }
  .sectionContents.col2 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .sectionContents.col2 .controls.clearfix {
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav {
    padding-top: 20px;
  }
  .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand div.logoBrand {
    width: 160px;
    height: 70px;
    background-image: url(../img/logo-small.png);
    position: absolute;
    z-index: 11111111;
    top: 0px;
  }
  .navbar.navbar-inverse.navbar-fixed-top .navbar-inner .brand .container .nav-collapse.collapse {
    float: none;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-top .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
  .navbar-fixed-top .navbar-inner .container .submenus {
    position: relative;
    margin-top: inherit;
  }
  .subnav {
    width: 100%;
    left: inherit;
    top: 0px;
    position: relative;
    z-index: 1200;
    display: none;
    padding: 0px;
  }
  .docHeader {
    padding-right: 12px;
    padding-left: 12px;
  }
  .docHeader .btn-group {
    margin-right: 12px;
  }
  .docHeader .span6 {
    width: 100%;
  }
  .docHeader .span6 + .span6 {
    display: none;
  }
  .thirdTier {
    display: none;
  }
  #ToC {
    position: absolute;
  }
  #ToC,
  #ToC > ul {
    width: 43px;
  }
  #ToC ul,
  #ToC > ul ul {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    min-width: 150px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    list-style: none;
  }
  #ToC ul li a,
  #ToC > ul ul li a {
    white-space: nowrap;
    padding: 10px 25px;
  }
  #ToC ul:before,
  #ToC > ul ul:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: " ";
    display: inline-block;
    left: -6px;
    position: absolute;
    top: 11px;
  }
  #ToC ul:after,
  #ToC > ul ul:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    display: inline-block;
    left: -5px;
    position: absolute;
    top: 12px;
  }
  #ToC > a {
    display: none !important;
  }
  #ToC > ul > li > a > span {
    display: none;
  }
  #ToC > ul > li {
    background-image: url(../img/border.png);
    background-repeat: repeat-y;
    background-position: right;
  }
  #ToC > ul > li.open {
    background-image: none;
  }
  #ToC > ul > li.open > a {
    background-image: none, none;
  }
  #ToC > ul ul li > a,
  #ToC > ul ul li.active > a {
    background-image: none, none;
  }
  #ToC > ul ul li a:hover {
    background-color: #FFF;
    background-image: url(../img/active.png), none;
    background-repeat: no-repeat, repeat-y;
    background-position: right center, right;
  }
  #ToC > ul > li.active,
  #ToC > ul > li:hover > a {
    background: #aa003e;
    background-image: url(../img/active-small.png);
    background-repeat: no-repeat;
    background-position: right center;
    border-top-color: #8C012C;
  }
  #content {
    margin-left: 43px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsiveCue {
    background: orange;
  }
  body {
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
  }
  .sectionContents .container.leftnav .leftnavContent {
    background-image: url(../img/nav-back.png);
    background-repeat: repeat-y;
    background-position: -157px;
  }
}
.a11y-jump-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.a11y-jump-links ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.a11y-jump-links ul li a {
  position: absolute;
  left: -999em;
  z-index: 9999;
  background: white;
  display: block;
  text-align: center;
  padding: 2%;
}
.a11y-jump-links ul li a:focus {
  left: 0;
}
#content.focusable {
  outline: none;
}
html {
  height: 100%;
  min-height: 100%;
}
body,
input,
select,
textarea {
  font-family: 'Droid Sans', 'Arial', sans-serif;
}
body {
  background-color: #000000;
  padding-top: 53px;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.3em;
  margin: 0px;
  margin-bottom: 12px;
  color: #000000;
  font-weight: normal;
}
