/* CSS Document */

.rootrule
{
	border:1px solid #666;
	background-image:none;
	background-color:#D9D9D9;
}

.whentrue
{
	border:1px solid #666;
	background-image:url(./images/black15.png);
	margin:10px;
	margin-left:25px;
	background-color:none;
}

.whenfalse
{
	border:1px solid #666;
	background-image:url(./images/black15.png);
	margin:10px;
	margin-left:25px;
	background-color:none;
}

.selectfirsttrue
{
	border:1px solid #666;
	background-image:url(./images/black15.png);
	margin:10px;
	background-color:none;
}

.firstwhentrue
{
	border:1px solid #666;
	background-image:url(./images/blue50.png);
	margin:10px;
	margin-left:25px;
	background-color:#fff;
}

.firstwhenfalse
{
	border:1px solid #666;
	background-image:url(./images/red50.png);
	margin:10px;
	margin-left:25px;
	background-color:#fff;
}

.firstselectfirsttrue
{
	border:1px solid #666;
	background-image:url(./images/black10.png);
	margin:10px;
	background-color:#fff;
}

.arule
{
	border:1px solid #666;
	background-image:none;
	margin:10px;
	background-color:#EEE;
	padding:3px;
}

.anagenda
{
	border:1px solid #666;
	background-image:none;
	margin:10px;
	background-color:#EEE;
	padding:3px;
}

.agendanode
{
	border:1px solid #666;
	background-image:none;
	background-color:#EEE;
	padding:3px;
}

.agendaarrow
{
	font-size:80%;
	color:#FFF;
	font-weight:bold;
	margin-left:-6px;
}

.agendaarrow img
{
	width:16px;
	height:16px;
	vertical-align:top;
	margin-top:-3px;
}

.rulecontrol
{
	/*font-weight:bold;*/
	cursor:pointer;
}

.rulecontrol:hover
{
	color:#F00;
}

.table_agenda
{
	border:none;
	white-space:0px;
	width:99%;
}

.table_agenda td
{
	 height:25px;
	 margin:0px;
	 padding:0px;
	 vertical-align:top;
}

.table_agenda img
{
	 margin:0px;
	 padding:0px;
}

td.agendacontent
{
	 padding-top:6px;
	 height:19px;
}

.agenda_businessrule
{
	white-space:0px;
	padding:0px;
	border:none;
	border-collapse:collapse;
}

.agenda_businessrule td
{
	vertical-align:middle;
	background-color:#FFF;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;
}

.agenda_businessrule th
{
	vertical-align:middle;
	background-color:#E4E4E4;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;	
}

.agenda_businessruleheading
{
	background-color:#666;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;	
}

.hilitepart
{
	border:1px solid #900;
	background-color:#F0E68C;
	padding:2px;
}

.statementbox
{
	border:1px solid #CCC;
	background-color:#F7F7F7;
	padding:2px;
}

.connector
{
	z-index:99; 
	position:relative; 
	bottom:-4px; 
	width:450px; 
	text-align:left; 
	border:1px solid #000; 
	/*background-color:#FFE4E1;*/
	background-color:#CCC; 
	margin-bottom:3px; 
	padding:5px;
}

.functioneditor
{
	white-space:0px;
	padding:0px;
	border:none;
	border-collapse:collapse;
	width:100%;
}

.functioneditor td
{
	vertical-align:middle;
	background-color:#FFF;
	padding:4px;
	border: 1px solid #666;	
	border-collapse:collapse;
}

.functioneditor th
{
	vertical-align:middle;
	background-color:#E4E4E4;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;	
}

.functioneditorheading
{
	background-color:#666;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;	
}

.eligabledroppables
{
	background-color:#FFC;
	background-image:none;
}

td.eligabledroppables
{
	background-color:#FFC;
	background-image:none;
}

.columnbox
{
	padding:2px;
	border:1px solid #666;
	background-color:#F3F3F3;
	cursor:move;
}

.columnlist
{
	white-space:0px;
	padding:0px;
	border:none;
	border-collapse:collapse;
	width:100%;
}

.columnlist td
{
	vertical-align:middle;
	background-color:#FFF;
	padding:8px;
	border: 1px solid #666;	
	border-collapse:collapse;
}

.columnlist th
{
	vertical-align:middle;
	background-color:#E4E4E4;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;	
}

.columnlistheading
{
	background-color:#666;
	padding:2px;
	border: 1px solid #666;	
	border-collapse:collapse;	
}