@charset "utf-8";
/* CSS Document */

.contentdata
{
	font-weight:normal;
}

#workarea .elementheader
{
	background-color:#6B6B6B;
	background-image:none;
	height:18px;
	color:#FFFFFF;
}

#workarea .elementcontent, .subelementcontent, .expsubelementcontent
{
	background-image:url(../images/th-back.gif)
}

#workarea .subelementheader, #workarea .expsubelementcontrol
{
	background-color:#939393;
	background-image:none;
	height:18px;
	color:#FFFFFF;
}

#workarea .subelementcontainer
{
	padding:4px;
	border: 0px;
}

#workarea .subelement
{
	border-right:solid #939393 1px;
}

#workarea .justifyright
{
	text-align:right;
	list-style-type:square;
}

#workarea .elementtable
{
	width:100%;
	border-top: solid #939393 1px;
	/*border-bottom: solid #939393 1px;*/
	border-right: solid #939393 1px;
	/*border-left: solid #939393 1px;*/
	padding:0px;
}

#workarea .elementtable input
{
	width:100%;
}

/*
#workarea .elementtable td, th
{
	border: solid 1px;
	padding:0px;
}
*/