.sortable #sortable1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 800px;
 margin-bottom:;
}
.sortable #sortable1 li {
 margin:;
 padding:;
	float: left;
	width: 96px;
	height: 96px;
 font-size:;
	text-align: center;
	background-image: url(../img/icon-user.png);
	border: 1px solid #CCC;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	position: relative;
}
.sortable #sortable1 li.ui-state-disabled {
	background-image: url(../img/icon-user-add.png);
}
.sortable #sortable1 .ui-state-default span.name {
	display: block;
	margin-top: 96px;
	font-size: .85em;
	font-style: italic;
	color: #999;
}
.sortable #sortable1 .ui-state-default .delete {
	position: absolute;
	top: -10px;
	right: -6px;
}
.sortable #sortable1 .delete .icon-remove-sign {
	background-image: url(../img/icon-remove.png);
	background-position: 0px 0px;
}
dl.table-display {
	float: left;
	width: 600px;
	margin: 1em 0;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
}
dl.table-display dt {
	clear: left;
	float: left;
	width: 160px;
	margin: 0;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #ccc;
	font-weight: normal;
	background-color: #F1F1F1;
	text-align: right;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 0px;
}
dl.table-display dd {
	float: left;
	width: 420px;
	margin: 0;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #ccc;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.controls.controls-row.datepicker .input-append {
	
	width: 120px;
	margin-bottom:8px;
}
.controls.controls-row.datepicker .input-append input {
	width: 55%;
}
.btn.lookup {
	background: none;
	background-image: url(../img/icon-lookup.png);
	border: none;
	width: 30px;
	height: 30px;
	padding: 0px;
}
.btn.lookup span {
	display: none;
}
h4 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-bottom: 12px;
	padding-bottom: 6px;
	color: #000;
 font-weight:;
	font-size: 12px;
}












.boxContent {
	padding: 14px;
}
.boxContent h4 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-bottom: 12px;
	padding-bottom: 6px;
	color: #000;
 font-weight:;
	font-size: 12px;
}
.boxContent .boxSubheader {
	position: relative;
}
.boxContent .boxSubheader .boxControls {
	position: absolute;
	right: 0px;
	top: 0px;
}
.boxContent .boxSubheader .question legend {
 margin-left:;
	width: inherit;
	font-size: inherit;
	height: inherit;
	border: none;
	line-height: inherit;
 position:;
}
.boxContent .boxSubheader .question .questionControls {
	margin-bottom: 20px;
 margin-left:;
}
.boxContent .boxSubheader .question .questionControls .radio.inline {
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: top;
}