#banner {
  background: url(../images/kuali/banner.jpg);
#  border:1px solid blue;
}

#bannerLeft {
#  border:1px solid yellow;
  width:100%;
  text-align:center;
  display:block;
  padding-top:10px; 
  color: #FFFFFF; 
  font-weight: 500; 
  font-size: 2.25em; 
  line-height: 1.2em; 
  font-family: 'EB Garamond','Sorts Mill Goudy', Georgia, serif; 
  text-shadow: 0 0 5px rgba(0,0,0,.01)
}

#bannerRight {
#  border:1px solid white;
  width:100%;
  text-align:center;
  display:block;
  padding-top:3px;
  font-size: 1.5em;
  color: #b3b3b3;
  font-style: italic;
  font-family: Georgia, serif;
  text-shadow: 0 0 5px rgba(0,0,0,.2)
}

#breadcrumbs {
  background-color:#A40000;
  background-image:none;
}

#breadcrumbs .xright {
  color: #fff;
}

#footer .xright a {
	display:none;
}