.alert {
	margin-top: 20px;
}

.alert-info {
	background-color: lighten(@link_blue, 57%);
	border-color: lighten(@link_blue, 50%);
	// color: @text_dark;
}

.alert-success {
	background-color: lighten(#dff0d8, 7%);
	border-color: #dff0d8;;
	//color: @text_dark;
}

.alert-danger {
	background-color: lighten(#ff0000, 48%);
	border-color: lighten(#ff0000, 40%);
	// color: @text_dark;
}

.alert-required {
	// background-color: #f6f6f6;
	// border-left: 3px solid #ccc;
	// border-color: #ccc;
	color: #555;
	padding-left: 0;
	font-style: italic;
}