.btn {
	// box-shadow: inset 0 1px 0 rgba(255,255,255, .5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	border-radius: 0 !important;
	font-size: 13px;
	font-weight: bold;
	// background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, @button_default), color-stop(50%, @button_default), color-stop(52%, darken(@button_default, 5%)), color-stop(100%, darken(@button_default, 7%)));
	// background: -webkit-linear-gradient(top, @button_default 20%, @button_default 50%, darken(@button_default, 5%) 52%, darken(@button_default, 7%) 100%);
	// background: -moz-linear-gradient(top, @button_default 20%, @button_default 50%, darken(@button_default, 5%) 52%, darken(@button_default, 7%) 100%);
	// background: -o-linear-gradient(top, @button_default 20%, @button_default 50%, darken(@button_default, 5%) 52%, darken(@button_default, 7%) 100%);
	// background: linear-gradient(top, @button_default 20%, @button_default 50%, darken(@button_default, 5%) 52%, darken(@button_default, 7%) 100%);

	background: -moz-linear-gradient(top, @button_default 0%, darken(@button_default, 5%) 47%, darken(@button_default, 7%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @button_default), color-stop(47%, darken(@button_default, 5%)), color-stop(100%, darken(@button_default, 7%)));
	background: -webkit-linear-gradient(top, @button_default 0%, darken(@button_default, 5%) 47%, darken(@button_default, 7%) 100%);
	background: -o-linear-gradient(top, @button_default 0%, darken(@button_default, 5%) 47%, darken(@button_default, 7%) 100%);
	background: -ms-linear-gradient(top, @button_default 0%, darken(@button_default, 5%) 47%, darken(@button_default, 7%) 100%);
	background: linear-gradient(to bottom, @button_default 0%, darken(@button_default, 5%) 47%, darken(@button_default, 7%) 100%);
}

.btn:hover {
	border: 1px solid @link_blue;
}

.link-delete {
	color: @error_delete_red;
	font-weight: 700;
}

.link-add {
	color: @success_add_green;
	font-weight: 700;
}

.link-edit {
	color: @link_blue;
	font-weight: 700;
}

.btn-link {
	color: @link_blue;
	text-shadow: none !important;
	border: none !important;
	box-shadow: none !important;
	background: transparent !important;
}

.btn-primary {
	color: white !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
	border: 1px solid darken(@button_primary, 10%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	// background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, @button_primary), color-stop(50%, @button_primary), color-stop(52%, darken(@button_primary, 5%)), color-stop(100%, darken(@button_primary, 7%)));
	// background: -webkit-linear-gradient(top, @button_primary 20%, @button_primary 50%, darken(@button_primary, 5%) 52%, darken(@button_primary, 7%) 100%);
	// background: -moz-linear-gradient(top, @button_primary 20%, @button_primary 50%, darken(@button_primary, 5%) 52%, darken(@button_primary, 7%) 100%);
	// background: -o-linear-gradient(top, @button_primary 20%, @button_primary 50%, darken(@button_primary, 5%) 52%, darken(@button_primary, 7%) 100%);
	// background: linear-gradient(top, @button_primary 20%, @button_primary 50%, darken(@button_primary, 5%) 52%, darken(@button_primary, 7%) 100%);
	background: -moz-linear-gradient(top, @button_primary 0%, darken(@button_primary, 5%) 47%, darken(@button_primary, 10%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @button_primary), color-stop(47%, darken(@button_primary, 5%)), color-stop(100%, darken(@button_primary, 10%)));
	background: -webkit-linear-gradient(top, @button_primary 0%, darken(@button_primary, 5%) 47%, darken(@button_primary, 10%) 100%);
	background: -o-linear-gradient(top, @button_primary 0%, darken(@button_primary, 5%) 47%, darken(@button_primary, 10%) 100%);
	background: -ms-linear-gradient(top, @button_primary 0%, darken(@button_primary, 5%) 47%, darken(@button_primary, 10%) 100%);
	background: linear-gradient(to bottom, @button_primary 0%, darken(@button_primary, 5%) 47%, darken(@button_primary, 10%) 100%);
}

.btn-success {
	color: white !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
	border: 1px solid darken(@button_success, 10%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	// background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, @button_success), color-stop(50%, @button_success), color-stop(52%, darken(@button_success, 5%)), color-stop(100%, darken(@button_success, 7%)));
	// background: -webkit-linear-gradient(top, @button_success 20%, @button_success 50%, darken(@button_success, 5%) 52%, darken(@button_success, 7%) 100%);
	// background: -moz-linear-gradient(top, @button_success 20%, @button_success 50%, darken(@button_success, 5%) 52%, darken(@button_success, 7%) 100%);
	// background: -o-linear-gradient(top, @button_success 20%, @button_success 50%, darken(@button_success, 5%) 52%, darken(@button_success, 7%) 100%);
	// background: linear-gradient(top, @button_success 20%, @button_success 50%, darken(@button_success, 5%) 52%, darken(@button_success, 7%) 100%);
	background: -moz-linear-gradient(top, @button_success 0%, darken(@button_success, 5%) 47%, darken(@button_success, 10%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @button_success), color-stop(47%, darken(@button_success, 5%)), color-stop(100%, darken(@button_success, 10%)));
	background: -webkit-linear-gradient(top, @button_success 0%, darken(@button_success, 5%) 47%, darken(@button_success, 10%) 100%);
	background: -o-linear-gradient(top, @button_success 0%, darken(@button_success, 5%) 47%, darken(@button_success, 10%) 100%);
	background: -ms-linear-gradient(top, @button_success 0%, darken(@button_success, 5%) 47%, darken(@button_success, 10%) 100%);
	background: linear-gradient(to bottom, @button_success 0%, darken(@button_success, 5%) 47%, darken(@button_success, 10%) 100%);
}

.btn-danger {
	color: white !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
	border: 1px solid darken(@button_danger, 10%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	// background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, @button_danger), color-stop(50%, @button_danger), color-stop(52%, darken(@button_danger, 5%)), color-stop(100%, darken(@button_danger, 7%)));
	// background: -webkit-linear-gradient(top, @button_danger 20%, @button_danger 50%, darken(@button_danger, 5%) 52%, darken(@button_danger, 7%) 100%);
	// background: -moz-linear-gradient(top, @button_danger 20%, @button_danger 50%, darken(@button_danger, 5%) 52%, darken(@button_danger, 7%) 100%);
	// background: -o-linear-gradient(top, @button_danger 20%, @button_danger 50%, darken(@button_danger, 5%) 52%, darken(@button_danger, 7%) 100%);
	// background: linear-gradient(top, @button_danger 20%, @button_danger 50%, darken(@button_danger, 5%) 52%, darken(@button_danger, 7%) 100%);
	background: -moz-linear-gradient(top, @button_danger 0%, darken(@button_danger, 5%) 47%, darken(@button_danger, 10%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @button_danger), color-stop(47%, darken(@button_danger, 5%)), color-stop(100%, darken(@button_danger, 10%)));
	background: -webkit-linear-gradient(top, @button_danger 0%, darken(@button_danger, 5%) 47%, darken(@button_danger, 10%) 100%);
	background: -o-linear-gradient(top, @button_danger 0%, darken(@button_danger, 5%) 47%, darken(@button_danger, 10%) 100%);
	background: -ms-linear-gradient(top, @button_danger 0%, darken(@button_danger, 5%) 47%, darken(@button_danger, 10%) 100%);
	background: linear-gradient(to bottom, @button_danger 0%, darken(@button_danger, 5%) 47%, darken(@button_danger, 10%) 100%);
}

.input-group-btn {

	a {
		display: block;
	}
}

.btn.lookup {
	background: none;
	background-image: @lookup_image;
	border: none;
	width: 30px;
	height: 30px;
	padding: 0px;
	margin-left: -13px;
}

.btn.lookup span {
	display: none;
}

.uif-switchme-edit, .uif-switchme-save, .uif-switchme-cancel {
	border: 0;
	background: transparent;
	margin-left: 4px;
}

.uif-switchme-edit {
	color: orange;
}

.uif-switchme-save {
	color: green;
}

.uif-switchme-cancel {
	color: gray;
}