/*
	Pieces
*/
/*
	Variables
*/
a,
a:link {
  color: #0055cc;
}
a:hover,
a:focus {
  color: #0046a8;
  text-decoration: underline;
}
body {
  background-color: #181818;
  font-size: 13px;
}
input,
select,
textarea,
button {
  font-size: 13px;
}
.off-screen {
  position: absolute;
  left: -9999em;
}
.skip-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links ul li a {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  left: 0;
  top: -9999px;
  background: black !important;
  color: white !important;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.skip-links ul li a:focus {
  position: relative;
  left: 0;
  top: 0;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
section.toolbar {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
}
section.toolbar .dropdown a {
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  color: #666;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #fff;
  -webkit-box-shadow: 1px 0px 0px 0px #cccccc;
  box-shadow: 1px 0px 0px 0px #cccccc;
}
section.toolbar .dropdown a .caret {
  border-bottom-color: #666;
  border-top-color: #666;
}
#main {
  background: #ffffff;
  padding-top: 75px;
}
#main label {
  line-height: 130%;
  padding-top: 0;
}
#main label.radio,
#main label.checkbox {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
#main label.radio input,
#main label.checkbox input {
  float: left;
  margin-top: 0px;
}
#main legend.legend-normal {
  font-size: inherit;
  border-bottom: 0px;
}
#main fieldset.fieldset-horizontal {
  padding: 2% 0 0 0;
  border-top: 1px dotted #cccccc;
}
#main fieldset.fieldset-horizontal:first-child {
  border-top: 0px;
}
#main h3 .link-edit {
  font-size: .55em;
}
#main .boxSubheader {
  position: relative;
}
#main .boxSubheader h3 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  color: #000;
  font-size: 13px;
  margin-top: 0px;
  padding-top: 0px;
}
#main .boxSubheader .boxControls {
  position: absolute;
  right: 0px;
  top: 0px;
}
#main .nav-tabs {
  margin-top: 3%;
}
#main .boxContent .well {
  padding: 19px 19px 3px 19px !important;
}
#main .boxContent .well h3 {
  margin: 0 0 12px 0 !important;
}
#main .boxContent .well .progress-details .empty {
  float: left;
  text-align: center;
  padding: 4px 0 6px 0;
  color: #aaa;
}
#main .boxContent .well .progress-details .empty.active {
  color: inherit;
  font-weight: 700;
}
#main .boxContent .well .progress-details .empty.complete {
  color: inherit;
}
#main .boxContent .well .progress {
  height: 3px;
  clear: both;
}
#main .boxContent .proposal-actions {
  margin-bottom: 1em;
}
#main .boxContent .comments .comment-actions {
  margin-top: 1em;
  margin-bottom: 3%;
}
#main .boxContent .comments .comment-row {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px dotted #cccccc;
}
#main .boxContent .comments .comment-row.comment-headers {
  font-weight: 700;
  border-top: 0px;
}
#main .tab-content #Summary .well {
  padding: 12px;
}
#main .tab-content #Summary .well h4 {
  margin-top: 0px;
  margin-bottom: 40px;
}
#main .summary .boxHeader h4 {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 8px;
  padding-left: 24px;
  background-position: 8px;
}
#main .box .boxHeader h4 {
  font-size: 13px;
}
#main .key-personnel {
  margin-bottom: 3%;
}
#main .checkbox-radio-reset-margin {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 1px;
}
#main .panel-group .panel .panel-heading .panel-title {
  color: inherit;
  font-size: 1em;
}
#main .panel-group .panel .panel-heading .panel-title .accordion-toggle.collapsed span.icon-caret-down:before {
  content: "\f0da";
}
#main .entry-row {
  margin-bottom: 20px;
}
#main .entry-row .entry-row-internal {
  margin-bottom: 1%;
  width: 75%;
  float: left;
}
#main .entry-row .entry-row-actions {
  margin-bottom: 1%;
  width: 25%;
  height: 100%;
  float: left;
}
#main .entry-row .entry-row-actions .well {
  height: 100%;
  min-height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: middle;
  text-align: center;
}
#content .hidden-fields {
  display: none;
}
#content:focus {
  outline: none;
}
.btn-row-page-action {
  clear: both;
  margin-top: 1.5%;
  padding: 1% 0 1% 0;
  text-align: center;
}
.btn-row-widget-action {
  clear: both;
  padding: 1% 0 1% 0;
  text-align: left;
}
.section-content {
  margin-top: 16px;
  margin-bottom: 16px;
}
.tab-title-container {
  position: relative;
}
.tab-title-container h4 {
  float: left;
  padding: 16px 16px 16px 0;
}
.tab-title-container .page-controls {
  float: right;
  border-top: 0;
}
.tab-title-container .page-controls .well {
  background: transparent;
  border: 0px;
  box-shadow: none;
  margin-bottom: 0;
  min-height: auto;
  border-radius: 0;
}
.page-controls {
  position: relative;
  border-top: 1px solid #cccccc;
}
.page-controls .page-actions {
  width: 50%;
  float: left;
  text-align: left;
}
.page-controls .page-actions .well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.page-controls .page-navigation {
  width: 50%;
  float: right;
  text-align: right;
}
.page-controls .page-navigation .well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
.well {
  min-height: 74px;
}
.link-delete {
  color: #ff0000;
  font-weight: 700;
}
.link-add {
  color: #008000;
  font-weight: 700;
}
.link-edit {
  color: #0055cc;
  font-weight: 700;
}
.btn {
  border-radius: 2px !important;
}
.btn.lookup {
  background: none;
  background-image: url(../img/icon-lookup.png);
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin-left: -13px;
}
.btn.lookup span {
  display: none;
}
dl dt {
  float: left;
  margin: 0;
  padding: 4px;
  width: 25%;
  background: #f6f6f6;
  border-top: 1px dotted #cccccc;
}
dl dd {
  float: left;
  margin: 0;
  padding: 4px;
  width: 75%;
  border-top: 1px dotted #cccccc;
}
dl dt:first-child {
  border-top: 0px;
}
dl dd:first-child {
  border-top: 0px;
}
dl:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}
.modal-header {
  background: #f6f6f6;
}
.modal-footer {
  background: #f6f6f6;
}
.modal {
  z-index: 9999;
}
.edit-select select {
  width: inherit;
}
.edit-select,
.edit-text {
  cursor: pointer;
}
footer {
  color: #f2f2f2;
}
footer a {
  color: #ffffff !important;
}
footer .container {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*
	768px wide, tablets, portrait
*/
@media (max-width: 767px) {
  .uif-navigation ul li {
    background-image: none;
  }
  .uif-navigation ul li.expanded ul li.active a:after {
    display: none;
  }
  .uif-navigation ul li.expanded ul li a {
    background-image: none;
  }
  .uif-navigation ul li.expanded > a:after {
    display: none;
  }
  .uif-navigation.closed {
    width: 100%;
    height: 34px;
    overflow: hidden;
  }
  .uif-navigation.closed ul li:hover ul,
  .uif-navigation.closed ul li:focus ul {
    left: -9999em;
  }
  .uif-navigation.closed ul li:hover ul li a .nav-label,
  .uif-navigation.closed ul li:focus ul li a .nav-label {
    visibility: hidden;
  }
}
.uif-viewHeader-contentWrapper {
  width: 100%;
  z-index: 3;
  padding: 0;
  margin: 0;
}
.uif-viewHeader-contentWrapper .uif-viewHeader {
  margin-top: 10px;
  position: relative;
  padding-left: 15px;
}
.uif-viewHeader-contentWrapper .uif-viewHeader .uif-viewHeader-metadata {
  padding-right: 20px;
  position: absolute;
  right: 0;
  bottom: 8px;
}
.uif-viewHeader-contentWrapper .uif-viewHeader .uif-headerText {
  font-size: 20px;
  margin-top: 0;
  margin-right: 0;
}
.uif-viewHeader-contentWrapper .uif-viewHeader .uif-headerText .uif-headerText-span {
  float: inherit;
  width: inherit;
  clear: both;
  font-size: 32px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}
.uif-viewHeader-contentWrapper .uif-viewHeader .uif-headerText .uif-supportTitle-wrapper {
  display: block;
}
.uif-viewHeader-contentWrapper .uif-viewHeader .uif-headerText .uif-supportTitle-wrapper .uif-viewHeader-supportTitle {
  display: block;
}
.uif-viewHeader-contentWrapper .uif-viewHeader .uif-headerText .uif-viewHeader-areaTitle {
  display: block;
  font-size: .6em;
  color: #666;
  font-weight: normal;
}
.viewHeader {
  margin-top: 20px;
}
.viewHeader .metadata {
  display: block;
  float: right;
  color: #666;
  font-size: 11px;
}
.viewHeader .metadata .dropdown strong {
  color: #000;
}
.viewHeader .metadata .dropdown .dropdown-toggle {
  font-style: italic;
}
.viewHeader .metadata .dropdown .dropdown-menu {
  left: inherit;
  right: 0px;
  white-space: nowrap;
  padding: 12px;
  color: #666;
  font-size: 11px;
}
.viewHeader .metadata .dropdown .dropdown-menu h4 {
  color: #000;
}
.viewHeader .metadata .dropdown .dropdown-menu .table {
  margin-bottom: 0px;
}
.viewHeader h1 {
  margin: 0px;
}
.viewHeader h1 .areaTitle {
  display: block;
  font-size: 11px;
  color: #666;
  font-weight: normal;
  line-height: 0px;
}
.viewHeader h1 a span[class*='icon-'] {
  font-size: 20px;
}
.viewHeader h1 a span[class*='icon-'] .icon-text {
  display: none;
}
.viewHeader h1 .supportTitle {
  display: block;
  font-size: 20px;
}
.viewHeader h1 .headerText {
  font-size: 32px;
}
.portal-header {
  width: 100%;
  background-color: #aa003e;
  z-index: 9999;
}
.portal-header .navbar {
  background-color: #aa003e;
  margin-bottom: 0px;
  border: none;
}
.portal-header .navbar .dropdown .dropdown-menu {
  white-space: nowrap;
  min-width: 10px;
}
.portal-header .navbar .dropdown .dropdown-menu .portal-menu {
  min-width: 600px;
  white-space: normal;
  padding-bottom: 20px;
}
.portal-header .navbar .dropdown .dropdown-menu .portal-menu h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-size: 1.1em;
}
.portal-header .navbar .dropdown .dropdown-menu .portal-menu h4 {
  font-size: 12px;
  font-weight: normal;
}
.portal-header .navbar .dropdown .dropdown-menu .portal-menu ul {
  font-size: 12px;
  list-style: disc;
  padding-left: 20px;
}
.portal-header .navbar .dropdown .dropdown-menu .portal-menu ul li a {
  color: #0055cc;
}
.portal-header .navbar .dropdown .dropdown-menu .portal-menu ul li a:hover {
  background: #FFF;
  text-decoration: underline;
}
.portal-header .navbar a:focus {
  color: #FFF;
  background: #9b0038;
}
.portal-header .navbar div.logoBrand {
  width: 200px;
  height: 69px;
  background-image: url(../img/logo.png);
  position: absolute;
  top: 0px;
  margin-left: -16px;
}
.portal-header .navbar .nav li.active a {
  background: #9b0038;
}
.portal-header .navbar .nav .dropdown-toggle {
  text-transform: uppercase;
}
.portal-header .navbar .nav .dropdown-menu li ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.portal-header .navbar .nav .dropdown-menu li ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #0055cc;
  white-space: nowrap;
}
.portal-header .navbar .nav li {
  position: relative;
  z-index: 10;
}
.portal-header .navbar .nav li a {
  text-transform: ;
}
.portal-header .navbar a {
  color: #fff;
}
.portal-header .navbar a:hover {
  color: #FFF;
  background: #9b0038;
}
.portal-header .navbar .navbar-toggle {
  color: white;
  font-size: 120%;
}
.uif-pageContentWrapper.closed {
  margin-left: 220px;
}
.uif-pageContentWrapper {
  margin-left: 44px;
}
.uif-pageContentWrapper .uif-page {
  min-height: 500px;
}
.uif-navigation {
  position: absolute;
  width: 210px;
  padding-top: 10px;
}
.uif-navigation #nav-toggle {
  border: 0;
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: left;
  padding: 6px 10px;
  background: #f6f6f6;
  font-weight: 100;
  color: #777777;
  box-shadow: 0px 0px 2px rbga(0, 0, 0, 0.07);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.uif-navigation #nav-toggle span {
  display: block;
}
.uif-navigation #nav-toggle:hover {
  background: #e9e9e9;
}
.uif-navigation #nav-toggle.open span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.uif-navigation .nav-label {
  position: relative;
  left: auto;
}
.uif-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.uif-navigation ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #F1EFF2;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #fff;
  border-bottom-color: #ddd;
  background-image: url(../img/border.png);
  background-position: right;
  background-repeat: repeat-y;
  position: relative;
}
.uif-navigation ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 6px 12px;
  height: 28px;
}
.uif-navigation ul li a:hover {
  background-color: #aa003e;
  color: #ffffff;
}
.uif-navigation ul li ul {
  display: none;
}
.uif-navigation ul li ul li a {
  font-size: .9em;
  padding-left: 30px;
}
.uif-navigation ul li.expanded {
  font-weight: 700;
  background: #e7e7e7;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #aa003e;
  border-bottom-color: #fff;
  position: relative;
}
.uif-navigation ul li.expanded ul {
  font-weight: normal;
}
.uif-navigation ul li.expanded ul li.active {
  position: relative;
}
.uif-navigation ul li.expanded ul li.active a,
.uif-navigation ul li.expanded ul li.active a:hover {
  background: #ffe5e5;
}
.uif-navigation ul li.expanded ul li.active a:after {
  content: " ";
  display: block;
  position: absolute;
  right: -8px;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  width: 16px;
  background: white;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uif-navigation ul li.expanded ul li {
  position: relative;
}
.uif-navigation ul li.expanded ul li a {
  background-color: #FFF;
  color: #000;
  background-image: url(../img/border.png);
  background-position: right;
  background-repeat: repeat-y;
}
.uif-navigation ul li.expanded ul li a:hover {
  background: #ffe5e5;
}
.uif-navigation ul li.expanded a {
  background: #aa003e;
  color: #FFF;
}
.uif-navigation ul li.expanded > a:after {
  content: " ";
  display: block;
  position: absolute;
  right: -8px;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  width: 16px;
  background: white;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uif-navigation ul li.active {
  font-weight: 700;
}
.uif-navigation ul li.active a {
  font-weight: normal;
  background: #aa003e;
  color: #ffffff;
  position: relative;
}
.uif-navigation.closed {
  width: 40px;
  height: auto;
}
.uif-navigation.closed .nav-label {
  visibility: hidden;
}
.uif-navigation.closed ul ul {
  display: block;
  position: absolute;
  left: -9999em;
}
.uif-navigation.closed ul ul li a:after {
  display: none;
}
.uif-navigation.closed ul li.expanded li.active a:after {
  display: none;
}
.uif-navigation.closed ul li:hover,
.uif-navigation.closed ul li:focus {
  background: #d0d0d0;
}
.uif-navigation.closed ul li:hover ul,
.uif-navigation.closed ul li:focus ul {
  top: -2px;
  left: 40px;
  z-index: 11;
  width: 250px;
}
.uif-navigation.closed ul li:hover ul li a .nav-label,
.uif-navigation.closed ul li:focus ul li a .nav-label {
  visibility: visible;
}
.doc-functions {
  font-size: .85em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  padding-bottom: 8px;
  padding-left: 15px;
}
.doc-functions ul {
  list-style: none;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}
.doc-functions ul li {
  display: inline;
  color: #666;
}
.doc-functions ul li a.icons-doc-header-hierarchy {
  background-position: 0 -124px;
}
.doc-functions ul li a {
  padding-left: 16px;
  margin-right: 16px;
  background-image: url(../img/icons-docHeader.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.doc-functions ul li a.icons-doc-header-copy {
  background-position: 0 -62px;
}
.doc-functions ul li a.icons-doc-header-medusa {
  background-position: 0 -186px;
}
.doc-functions ul li a.icons-doc-header-print {
  background-position: 0 -248px;
}
.doc-functions ul li a.icons-doc-header-access {
  background-position: 0 0;
}
