/*
Custom styles
Author: 	Chris Rodriguez, clrux@bu.edu
Created:	29 Jan 2012, 12:09
Last Mod:	19 Feb 2013, 14:54


LESS Variables:
--------------------------------------------- */
html {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: #cccccc;
  background-image: url(../img/back.png);
  font-size: 13px;
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 100%;
  color: #222222;
}
a {
  color: #960000;
}
a:hover {
  text-decoration: none;
}
.show-popover,
.show-tooltip {
  border-bottom: 1px dotted;
}
.show-popover:hover,
.show-tooltip:hover {
  text-decoration: none !important;
  cursor: pointer;
}
i {
  margin-right: .35em;
}
#header {
  background: #1f2425;
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 2;
  margin-bottom: -6px;
}
#header #global {
  width: 100%;
  background: url('../img/brand-coeus.png') 0 0 no-repeat #f3f3f3 !important;
}
#header #global .brand {
  float: left;
  padding-left: 1.2em;
  margin-top: 1em;
}
#header #global .brand .major {
  font-size: 1.4em;
  color: #222222;
  display: inline-block;
}
#header #global .brand .minor {
  font-size: 1.4em;
  color: #ffffff;
  display: inline-block;
}
#header #global .brand .nav.nav-tabs {
  top: 34px !important;
}
#header #global .brand .nav.nav-tabs li a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
#header #global .brand .nav.nav-tabs li a:hover {
  background: #59686a;
  color: #ffffff;
}
#header #global .brand .nav.nav-tabs li.active a {
  background: #1f2425;
}
#header #global .brand .nav.nav-tabs li.active a:hover {
  background: #222222;
  color: #ffffff;
}
#header #global .btn-group a {
  margin: 1em 0 0 1em;
}
#header #global .toolset {
  float: right;
  text-align: right;
  margin-top: 1em;
  margin-right: .6em;
}
#header #global .toolset ul {
  list-style: none;
}
#header #global .toolset ul li {
  float: right;
}
#header #global .toolset a {
  padding: 1.2em;
  color: #1f2425;
}
#header #document {
  width: 100%;
  border-bottom: 1px solid #181c1d;
  padding-bottom: 1.4em;
}
#header #document .title {
  width: 99%;
  float: left;
  margin: 0.55em 0 -5px 0.85em;
  font-size: 1.5em;
  color: #ffffff;
}
#header #document .title .title-name {
  max-width: 70%;
  float: left;
  margin-right: .2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: .1em;
}
#header #document .title .title-name i {
  float: left;
  margin-top: 3px;
}
#header #document .title .title-author {
  float: left;
}
#header #document .title a {
  color: #ffffff;
}
#header #document .title a:hover {
  color: #ffffff;
}
#header #secondary {
  background: #1f2425;
  border-top: 1px solid #262c2d;
  border-bottom: 1px solid black;
  width: 100%;
  color: #ffffff;
}
#header #secondary .proposal-status {
  float: right;
  margin: .5em 1.65em 0 0;
}
#header #secondary .proposal-status h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 165%;
}
#header #secondary .proposal-status h2 span {
  font-weight: normal !important;
}
#header #secondary .meta {
  float: left;
  margin: .75em 0 0 1.35em;
}
#header #secondary .meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header #secondary .meta ul li {
  float: left;
  margin-right: 2em;
}
#header #secondary .meta ul li span {
  display: inline-block;
  margin-right: .5em;
  font-weight: bold;
}
#header #secondary .meta ul li div {
  color: #333 !important;
}
#header #secondary .meta ul li ul li {
  display: block;
  width: 100%;
}
#header #secondary .toolset {
  float: right;
  text-align: right;
  margin: .75em 1em 0 0;
}
#header #secondary .document-meta {
  float: right;
  margin-right: 2em;
}
#header #secondary .document-meta a {
  color: #ffffff;
  display: inline-block;
  margin-top: .88em;
}
#header #secondary .btn-group {
  float: right;
  margin: 1em 0 0 0;
  padding-top: 6px;
  padding-right: 10px;
}
#header #secondary .btn-group .btn.dropdown-toggle {
  background: none;
  border: none;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#header #secondary .btn-group .btn.dropdown-toggle .caret {
  border-top: 4px solid #ffffff;
}
#header #secondary .btn-group .dropdown-menu {
  color: #222222;
}
#header #secondary .btn-group .dropdown-menu a {
  color: #222222;
}
#header #secondary .btn-group .dropdown-menu a:hover {
  color: #ffffff;
}
#header #secondary .proposal-stats {
  min-width: 210px;
  float: right;
  margin-right: 2em;
}
#header #secondary .proposal-stats span {
  color: #ffffff;
  display: inline-block;
  float: left;
  margin-top: .88em;
  margin-right: .5em;
}
#header #secondary .proposal-stats .progress {
  float: left;
  width: 30%;
  max-width: 100px;
  height: 3px;
  margin-top: 1.5em;
  margin-right: 1em;
}
#header #secondary .proposal-stats .progress .bar {
  background: #5398c8;
  opacity: 1 !important;
}
#header #secondary .proposal-stats .progress .bar.complete {
  background: #5c9b0a;
}
#header #secondary .proposal-stats a {
  display: inline-block;
  float: left;
  margin-top: .88em;
  color: #ffffff;
}
#header #secondary a {
  color: #ffffff;
}
#document.fixed {
  background: #1f2425;
  top: 0;
  left: 0;
  z-index: 999 !important;
}
#secondary {
  margin-top: 0px;
}
#secondary.fixed {
  top: 47px;
  left: 0;
  z-index: 998 !important;
}
#ToC {
  margin-top: 10px;
}
#ToC ul li.active a {
  background: #ccc;
}
#ToC ul li.complete a {
  color: #81a255;
}
#ToC ul li.active.complete a {
  background: #5c9b0a;
  color: #81a255;
}
#ToC.fixed {
  top: 80px;
  left: 0;
  z-index: 997 !important;
}
#ToC.fixed ul li:first-child {
  border-top: 0px !important;
}
#ToC.disabled ul li a {
  cursor: default;
  color: #515151;
}
#ToC.disabled ul li a .icon {
  opacity: .15;
  -moz-opacity: .15;
  -o-opacity: .15;
}
#ToC.disabled ul li a:hover {
  background-color: inherit;
}
.fixed {
  position: fixed !important;
}
@-moz-document url-prefix() {
  #secondary {
    margin-top: 0px;
  }
  #secondary.fixed {
    top: 47px;
  }
  #ToC {
    margin-top: 9px;
  }
  #ToC.fixed {
    top: 82px;
  }
}
.ie7 #ToC,
.ie8 #ToC {
  margin-top: 5px;
}
#content {
  padding: 32px 20px;
}
#content h4 span.req {
  float: left;
  margin: 0.15em 0.2em 0 0;
}
#content:focus,
#content:active {
  outline: none;
}
.sticky-panel {
  position: fixed;
  z-index: 9999;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 50%;
  border: 1px solid #cccccc;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}
.sticky-panel a.close {
  opacity: 1.0;
  margin: 1.2em;
}
.sticky-panel .actions-padded {
  padding: 1em 3em 3em 3em;
}
.sticky-panel iframe {
  border: 0;
  width: 100%;
  height: 90%;
  padding: 0;
  margin: -4.5em 0 0 0;
}
body.ajaxed {
  background: #ffffff;
  background-image: none;
  height: auto;
  min-height: auto;
}
body.ajaxed h1 {
  font-size: 1.5em;
}
.dropdown-menu a {
  font-size: .90em;
  text-align: left;
}
.date {
  position: relative !important;
}
.popover {
  color: #222222 !important;
}
.popover ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.popover ul li {
  display: block !important;
  clear: both;
  border-top: 1px solid #f9f9f9 !important;
  width: 100%;
}
.popover ul li .progress {
  width: 100% !important;
  max-width: 100% !important;
  float: none !important;
  margin-top: 0 !important;
}
.popover ul li span {
  display: inline-block;
  margin-right: .35em;
}
.popover ul li:first-child {
  border-top: none;
}
.req {
  display: inline-block;
  font-size: 2em;
  color: red;
  float: right;
  margin: .21em 0 0 .2em;
}
.req span {
  position: absolute;
  left: -9999em;
}
.jump-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jump-links ul li a {
  position: absolute;
  top: -100%;
  padding: 1em;
  z-index: 9999;
}
.jump-links ul li a:focus {
  top: 0;
  right: 10.5%;
}
.add-on.calendar:hover {
  cursor: pointer;
}
