<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
  </disabledAdministrativeMonitors>
  <version>1.450</version>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:aakers</permission>
    <permission>hudson.model.Computer.Configure:cmann</permission>
    <permission>hudson.model.Computer.Configure:cniesen</permission>
    <permission>hudson.model.Computer.Configure:djung</permission>
    <permission>hudson.model.Computer.Configure:eghm-kuali-m</permission>
    <permission>hudson.model.Computer.Configure:eldavid</permission>
    <permission>hudson.model.Computer.Configure:ewestfal</permission>
    <permission>hudson.model.Computer.Configure:fsadiq</permission>
    <permission>hudson.model.Computer.Configure:gilesp</permission>
    <permission>hudson.model.Computer.Configure:haroon.rafique</permission>
    <permission>hudson.model.Computer.Configure:jcaddel</permission>
    <permission>hudson.model.Computer.Configure:jcoltrin</permission>
    <permission>hudson.model.Computer.Configure:jessica</permission>
    <permission>hudson.model.Computer.Configure:jjhanso</permission>
    <permission>hudson.model.Computer.Configure:jkeller</permission>
    <permission>hudson.model.Computer.Configure:jkneal</permission>
    <permission>hudson.model.Computer.Configure:kbtaylor</permission>
    <permission>hudson.model.Computer.Configure:lsymms</permission>
    <permission>hudson.model.Computer.Configure:masargen</permission>
    <permission>hudson.model.Computer.Configure:peris</permission>
    <permission>hudson.model.Computer.Configure:psisson</permission>
    <permission>hudson.model.Computer.Configure:sgibson</permission>
    <permission>hudson.model.Computer.Configure:tschneeberger</permission>
    <permission>hudson.model.Computer.Connect:haroon.rafique</permission>
    <permission>hudson.model.Computer.Connect:jcaddel</permission>
    <permission>hudson.model.Computer.Connect:jcoltrin</permission>
    <permission>hudson.model.Computer.Connect:lsymms</permission>
    <permission>hudson.model.Computer.Create:haroon.rafique</permission>
    <permission>hudson.model.Computer.Create:jcaddel</permission>
    <permission>hudson.model.Computer.Create:jcoltrin</permission>
    <permission>hudson.model.Computer.Create:lsymms</permission>
    <permission>hudson.model.Computer.Delete:aakers</permission>
    <permission>hudson.model.Computer.Delete:cmann</permission>
    <permission>hudson.model.Computer.Delete:cniesen</permission>
    <permission>hudson.model.Computer.Delete:djung</permission>
    <permission>hudson.model.Computer.Delete:eghm-kuali-m</permission>
    <permission>hudson.model.Computer.Delete:eldavid</permission>
    <permission>hudson.model.Computer.Delete:ewestfal</permission>
    <permission>hudson.model.Computer.Delete:fsadiq</permission>
    <permission>hudson.model.Computer.Delete:gilesp</permission>
    <permission>hudson.model.Computer.Delete:haroon.rafique</permission>
    <permission>hudson.model.Computer.Delete:jcaddel</permission>
    <permission>hudson.model.Computer.Delete:jcoltrin</permission>
    <permission>hudson.model.Computer.Delete:jessica</permission>
    <permission>hudson.model.Computer.Delete:jjhanso</permission>
    <permission>hudson.model.Computer.Delete:jkeller</permission>
    <permission>hudson.model.Computer.Delete:jkneal</permission>
    <permission>hudson.model.Computer.Delete:kbtaylor</permission>
    <permission>hudson.model.Computer.Delete:lsymms</permission>
    <permission>hudson.model.Computer.Delete:masargen</permission>
    <permission>hudson.model.Computer.Delete:peris</permission>
    <permission>hudson.model.Computer.Delete:psisson</permission>
    <permission>hudson.model.Computer.Delete:sgibson</permission>
    <permission>hudson.model.Computer.Delete:tschneeberger</permission>
    <permission>hudson.model.Computer.Disconnect:haroon.rafique</permission>
    <permission>hudson.model.Computer.Disconnect:jcaddel</permission>
    <permission>hudson.model.Computer.Disconnect:jcoltrin</permission>
    <permission>hudson.model.Computer.Disconnect:lsymms</permission>
    <permission>hudson.model.Hudson.Administer:aakers</permission>
    <permission>hudson.model.Hudson.Administer:cmann</permission>
    <permission>hudson.model.Hudson.Administer:djung</permission>
    <permission>hudson.model.Hudson.Administer:ewestfal</permission>
    <permission>hudson.model.Hudson.Administer:fsadiq</permission>
    <permission>hudson.model.Hudson.Administer:gilesp</permission>
    <permission>hudson.model.Hudson.Administer:haroon.rafique</permission>
    <permission>hudson.model.Hudson.Administer:jcaddel</permission>
    <permission>hudson.model.Hudson.Administer:jcoltrin</permission>
    <permission>hudson.model.Hudson.Administer:jessica</permission>
    <permission>hudson.model.Hudson.Administer:jjhanso</permission>
    <permission>hudson.model.Hudson.Administer:jkeller</permission>
    <permission>hudson.model.Hudson.Administer:jkneal</permission>
    <permission>hudson.model.Hudson.Administer:kbtaylor</permission>
    <permission>hudson.model.Hudson.Administer:lsymms</permission>
    <permission>hudson.model.Hudson.Administer:masargen</permission>
    <permission>hudson.model.Hudson.Administer:peris</permission>
    <permission>hudson.model.Hudson.Administer:psisson</permission>
    <permission>hudson.model.Hudson.Administer:sgibson</permission>
    <permission>hudson.model.Hudson.Administer:tschneeberger</permission>
    <permission>hudson.model.Hudson.Read:aakers</permission>
    <permission>hudson.model.Hudson.Read:ahamid</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:cmann</permission>
    <permission>hudson.model.Hudson.Read:cniesen</permission>
    <permission>hudson.model.Hudson.Read:djung</permission>
    <permission>hudson.model.Hudson.Read:eghm-kuali-m</permission>
    <permission>hudson.model.Hudson.Read:eldavid</permission>
    <permission>hudson.model.Hudson.Read:ewestfal</permission>
    <permission>hudson.model.Hudson.Read:fsadiq</permission>
    <permission>hudson.model.Hudson.Read:gilesp</permission>
    <permission>hudson.model.Hudson.Read:haroon.rafique</permission>
    <permission>hudson.model.Hudson.Read:jcaddel</permission>
    <permission>hudson.model.Hudson.Read:jcoltrin</permission>
    <permission>hudson.model.Hudson.Read:jessica</permission>
    <permission>hudson.model.Hudson.Read:jjhanso</permission>
    <permission>hudson.model.Hudson.Read:jkeller</permission>
    <permission>hudson.model.Hudson.Read:jkneal</permission>
    <permission>hudson.model.Hudson.Read:kbtaylor</permission>
    <permission>hudson.model.Hudson.Read:lsymms</permission>
    <permission>hudson.model.Hudson.Read:masargen</permission>
    <permission>hudson.model.Hudson.Read:peris</permission>
    <permission>hudson.model.Hudson.Read:psisson</permission>
    <permission>hudson.model.Hudson.Read:sgibson</permission>
    <permission>hudson.model.Hudson.Read:tschneeberger</permission>
    <permission>hudson.model.Hudson.RunScripts:haroon.rafique</permission>
    <permission>hudson.model.Hudson.RunScripts:jcaddel</permission>
    <permission>hudson.model.Hudson.RunScripts:jcoltrin</permission>
    <permission>hudson.model.Hudson.RunScripts:lsymms</permission>
    <permission>hudson.model.Item.Build:aakers</permission>
    <permission>hudson.model.Item.Build:ahamid</permission>
    <permission>hudson.model.Item.Build:cmann</permission>
    <permission>hudson.model.Item.Build:cniesen</permission>
    <permission>hudson.model.Item.Build:djung</permission>
    <permission>hudson.model.Item.Build:eghm-kuali-m</permission>
    <permission>hudson.model.Item.Build:eldavid</permission>
    <permission>hudson.model.Item.Build:ewestfal</permission>
    <permission>hudson.model.Item.Build:fsadiq</permission>
    <permission>hudson.model.Item.Build:gilesp</permission>
    <permission>hudson.model.Item.Build:haroon.rafique</permission>
    <permission>hudson.model.Item.Build:jcaddel</permission>
    <permission>hudson.model.Item.Build:jcoltrin</permission>
    <permission>hudson.model.Item.Build:jessica</permission>
    <permission>hudson.model.Item.Build:jjhanso</permission>
    <permission>hudson.model.Item.Build:jkeller</permission>
    <permission>hudson.model.Item.Build:jkneal</permission>
    <permission>hudson.model.Item.Build:kbtaylor</permission>
    <permission>hudson.model.Item.Build:lsymms</permission>
    <permission>hudson.model.Item.Build:masargen</permission>
    <permission>hudson.model.Item.Build:peris</permission>
    <permission>hudson.model.Item.Build:psisson</permission>
    <permission>hudson.model.Item.Build:sgibson</permission>
    <permission>hudson.model.Item.Build:tschneeberger</permission>
    <permission>hudson.model.Item.Configure:aakers</permission>
    <permission>hudson.model.Item.Configure:cmann</permission>
    <permission>hudson.model.Item.Configure:cniesen</permission>
    <permission>hudson.model.Item.Configure:djung</permission>
    <permission>hudson.model.Item.Configure:eghm-kuali-m</permission>
    <permission>hudson.model.Item.Configure:eldavid</permission>
    <permission>hudson.model.Item.Configure:ewestfal</permission>
    <permission>hudson.model.Item.Configure:fsadiq</permission>
    <permission>hudson.model.Item.Configure:gilesp</permission>
    <permission>hudson.model.Item.Configure:haroon.rafique</permission>
    <permission>hudson.model.Item.Configure:jcaddel</permission>
    <permission>hudson.model.Item.Configure:jcoltrin</permission>
    <permission>hudson.model.Item.Configure:jessica</permission>
    <permission>hudson.model.Item.Configure:jjhanso</permission>
    <permission>hudson.model.Item.Configure:jkeller</permission>
    <permission>hudson.model.Item.Configure:jkneal</permission>
    <permission>hudson.model.Item.Configure:kbtaylor</permission>
    <permission>hudson.model.Item.Configure:lsymms</permission>
    <permission>hudson.model.Item.Configure:masargen</permission>
    <permission>hudson.model.Item.Configure:peris</permission>
    <permission>hudson.model.Item.Configure:psisson</permission>
    <permission>hudson.model.Item.Configure:sgibson</permission>
    <permission>hudson.model.Item.Configure:tschneeberger</permission>
    <permission>hudson.model.Item.Create:aakers</permission>
    <permission>hudson.model.Item.Create:cmann</permission>
    <permission>hudson.model.Item.Create:cniesen</permission>
    <permission>hudson.model.Item.Create:djung</permission>
    <permission>hudson.model.Item.Create:eghm-kuali-m</permission>
    <permission>hudson.model.Item.Create:eldavid</permission>
    <permission>hudson.model.Item.Create:ewestfal</permission>
    <permission>hudson.model.Item.Create:fsadiq</permission>
    <permission>hudson.model.Item.Create:gilesp</permission>
    <permission>hudson.model.Item.Create:haroon.rafique</permission>
    <permission>hudson.model.Item.Create:jcaddel</permission>
    <permission>hudson.model.Item.Create:jcoltrin</permission>
    <permission>hudson.model.Item.Create:jessica</permission>
    <permission>hudson.model.Item.Create:jjhanso</permission>
    <permission>hudson.model.Item.Create:jkeller</permission>
    <permission>hudson.model.Item.Create:jkneal</permission>
    <permission>hudson.model.Item.Create:kbtaylor</permission>
    <permission>hudson.model.Item.Create:lsymms</permission>
    <permission>hudson.model.Item.Create:masargen</permission>
    <permission>hudson.model.Item.Create:peris</permission>
    <permission>hudson.model.Item.Create:psisson</permission>
    <permission>hudson.model.Item.Create:sgibson</permission>
    <permission>hudson.model.Item.Create:tschneeberger</permission>
    <permission>hudson.model.Item.Delete:aakers</permission>
    <permission>hudson.model.Item.Delete:cmann</permission>
    <permission>hudson.model.Item.Delete:cniesen</permission>
    <permission>hudson.model.Item.Delete:djung</permission>
    <permission>hudson.model.Item.Delete:eghm-kuali-m</permission>
    <permission>hudson.model.Item.Delete:eldavid</permission>
    <permission>hudson.model.Item.Delete:ewestfal</permission>
    <permission>hudson.model.Item.Delete:fsadiq</permission>
    <permission>hudson.model.Item.Delete:gilesp</permission>
    <permission>hudson.model.Item.Delete:haroon.rafique</permission>
    <permission>hudson.model.Item.Delete:jcaddel</permission>
    <permission>hudson.model.Item.Delete:jcoltrin</permission>
    <permission>hudson.model.Item.Delete:jessica</permission>
    <permission>hudson.model.Item.Delete:jjhanso</permission>
    <permission>hudson.model.Item.Delete:jkeller</permission>
    <permission>hudson.model.Item.Delete:jkneal</permission>
    <permission>hudson.model.Item.Delete:kbtaylor</permission>
    <permission>hudson.model.Item.Delete:lsymms</permission>
    <permission>hudson.model.Item.Delete:masargen</permission>
    <permission>hudson.model.Item.Delete:peris</permission>
    <permission>hudson.model.Item.Delete:psisson</permission>
    <permission>hudson.model.Item.Delete:sgibson</permission>
    <permission>hudson.model.Item.Delete:tschneeberger</permission>
    <permission>hudson.model.Item.Read:aakers</permission>
    <permission>hudson.model.Item.Read:ahamid</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:cmann</permission>
    <permission>hudson.model.Item.Read:cniesen</permission>
    <permission>hudson.model.Item.Read:djung</permission>
    <permission>hudson.model.Item.Read:eghm-kuali-m</permission>
    <permission>hudson.model.Item.Read:eldavid</permission>
    <permission>hudson.model.Item.Read:ewestfal</permission>
    <permission>hudson.model.Item.Read:fsadiq</permission>
    <permission>hudson.model.Item.Read:gilesp</permission>
    <permission>hudson.model.Item.Read:haroon.rafique</permission>
    <permission>hudson.model.Item.Read:jcaddel</permission>
    <permission>hudson.model.Item.Read:jcoltrin</permission>
    <permission>hudson.model.Item.Read:jessica</permission>
    <permission>hudson.model.Item.Read:jjhanso</permission>
    <permission>hudson.model.Item.Read:jkeller</permission>
    <permission>hudson.model.Item.Read:jkneal</permission>
    <permission>hudson.model.Item.Read:kbtaylor</permission>
    <permission>hudson.model.Item.Read:lsymms</permission>
    <permission>hudson.model.Item.Read:masargen</permission>
    <permission>hudson.model.Item.Read:peris</permission>
    <permission>hudson.model.Item.Read:psisson</permission>
    <permission>hudson.model.Item.Read:sgibson</permission>
    <permission>hudson.model.Item.Read:tschneeberger</permission>
    <permission>hudson.model.Item.Release:haroon.rafique</permission>
    <permission>hudson.model.Item.Release:jcaddel</permission>
    <permission>hudson.model.Item.Release:jcoltrin</permission>
    <permission>hudson.model.Item.Release:lsymms</permission>
    <permission>hudson.model.Item.Workspace:aakers</permission>
    <permission>hudson.model.Item.Workspace:ahamid</permission>
    <permission>hudson.model.Item.Workspace:authenticated</permission>
    <permission>hudson.model.Item.Workspace:cmann</permission>
    <permission>hudson.model.Item.Workspace:cniesen</permission>
    <permission>hudson.model.Item.Workspace:djung</permission>
    <permission>hudson.model.Item.Workspace:eghm-kuali-m</permission>
    <permission>hudson.model.Item.Workspace:eldavid</permission>
    <permission>hudson.model.Item.Workspace:ewestfal</permission>
    <permission>hudson.model.Item.Workspace:fsadiq</permission>
    <permission>hudson.model.Item.Workspace:gilesp</permission>
    <permission>hudson.model.Item.Workspace:haroon.rafique</permission>
    <permission>hudson.model.Item.Workspace:jcaddel</permission>
    <permission>hudson.model.Item.Workspace:jcoltrin</permission>
    <permission>hudson.model.Item.Workspace:jessica</permission>
    <permission>hudson.model.Item.Workspace:jjhanso</permission>
    <permission>hudson.model.Item.Workspace:jkeller</permission>
    <permission>hudson.model.Item.Workspace:jkneal</permission>
    <permission>hudson.model.Item.Workspace:kbtaylor</permission>
    <permission>hudson.model.Item.Workspace:lsymms</permission>
    <permission>hudson.model.Item.Workspace:masargen</permission>
    <permission>hudson.model.Item.Workspace:peris</permission>
    <permission>hudson.model.Item.Workspace:psisson</permission>
    <permission>hudson.model.Item.Workspace:sgibson</permission>
    <permission>hudson.model.Item.Workspace:tschneeberger</permission>
    <permission>hudson.model.Run.Delete:aakers</permission>
    <permission>hudson.model.Run.Delete:cmann</permission>
    <permission>hudson.model.Run.Delete:cniesen</permission>
    <permission>hudson.model.Run.Delete:djung</permission>
    <permission>hudson.model.Run.Delete:eghm-kuali-m</permission>
    <permission>hudson.model.Run.Delete:eldavid</permission>
    <permission>hudson.model.Run.Delete:ewestfal</permission>
    <permission>hudson.model.Run.Delete:fsadiq</permission>
    <permission>hudson.model.Run.Delete:gilesp</permission>
    <permission>hudson.model.Run.Delete:haroon.rafique</permission>
    <permission>hudson.model.Run.Delete:jcaddel</permission>
    <permission>hudson.model.Run.Delete:jcoltrin</permission>
    <permission>hudson.model.Run.Delete:jessica</permission>
    <permission>hudson.model.Run.Delete:jjhanso</permission>
    <permission>hudson.model.Run.Delete:jkeller</permission>
    <permission>hudson.model.Run.Delete:jkneal</permission>
    <permission>hudson.model.Run.Delete:kbtaylor</permission>
    <permission>hudson.model.Run.Delete:lsymms</permission>
    <permission>hudson.model.Run.Delete:masargen</permission>
    <permission>hudson.model.Run.Delete:peris</permission>
    <permission>hudson.model.Run.Delete:psisson</permission>
    <permission>hudson.model.Run.Delete:sgibson</permission>
    <permission>hudson.model.Run.Delete:tschneeberger</permission>
    <permission>hudson.model.Run.Update:aakers</permission>
    <permission>hudson.model.Run.Update:cmann</permission>
    <permission>hudson.model.Run.Update:cniesen</permission>
    <permission>hudson.model.Run.Update:djung</permission>
    <permission>hudson.model.Run.Update:eghm-kuali-m</permission>
    <permission>hudson.model.Run.Update:eldavid</permission>
    <permission>hudson.model.Run.Update:ewestfal</permission>
    <permission>hudson.model.Run.Update:fsadiq</permission>
    <permission>hudson.model.Run.Update:gilesp</permission>
    <permission>hudson.model.Run.Update:haroon.rafique</permission>
    <permission>hudson.model.Run.Update:jcaddel</permission>
    <permission>hudson.model.Run.Update:jcoltrin</permission>
    <permission>hudson.model.Run.Update:jessica</permission>
    <permission>hudson.model.Run.Update:jjhanso</permission>
    <permission>hudson.model.Run.Update:jkeller</permission>
    <permission>hudson.model.Run.Update:jkneal</permission>
    <permission>hudson.model.Run.Update:kbtaylor</permission>
    <permission>hudson.model.Run.Update:lsymms</permission>
    <permission>hudson.model.Run.Update:masargen</permission>
    <permission>hudson.model.Run.Update:peris</permission>
    <permission>hudson.model.Run.Update:psisson</permission>
    <permission>hudson.model.Run.Update:sgibson</permission>
    <permission>hudson.model.Run.Update:tschneeberger</permission>
    <permission>hudson.model.View.Configure:aakers</permission>
    <permission>hudson.model.View.Configure:cmann</permission>
    <permission>hudson.model.View.Configure:cniesen</permission>
    <permission>hudson.model.View.Configure:djung</permission>
    <permission>hudson.model.View.Configure:eghm-kuali-m</permission>
    <permission>hudson.model.View.Configure:eldavid</permission>
    <permission>hudson.model.View.Configure:ewestfal</permission>
    <permission>hudson.model.View.Configure:fsadiq</permission>
    <permission>hudson.model.View.Configure:gilesp</permission>
    <permission>hudson.model.View.Configure:haroon.rafique</permission>
    <permission>hudson.model.View.Configure:jcaddel</permission>
    <permission>hudson.model.View.Configure:jcoltrin</permission>
    <permission>hudson.model.View.Configure:jessica</permission>
    <permission>hudson.model.View.Configure:jjhanso</permission>
    <permission>hudson.model.View.Configure:jkeller</permission>
    <permission>hudson.model.View.Configure:jkneal</permission>
    <permission>hudson.model.View.Configure:kbtaylor</permission>
    <permission>hudson.model.View.Configure:lsymms</permission>
    <permission>hudson.model.View.Configure:masargen</permission>
    <permission>hudson.model.View.Configure:peris</permission>
    <permission>hudson.model.View.Configure:psisson</permission>
    <permission>hudson.model.View.Configure:sgibson</permission>
    <permission>hudson.model.View.Configure:tschneeberger</permission>
    <permission>hudson.model.View.Create:aakers</permission>
    <permission>hudson.model.View.Create:cmann</permission>
    <permission>hudson.model.View.Create:cniesen</permission>
    <permission>hudson.model.View.Create:djung</permission>
    <permission>hudson.model.View.Create:eghm-kuali-m</permission>
    <permission>hudson.model.View.Create:eldavid</permission>
    <permission>hudson.model.View.Create:ewestfal</permission>
    <permission>hudson.model.View.Create:fsadiq</permission>
    <permission>hudson.model.View.Create:gilesp</permission>
    <permission>hudson.model.View.Create:haroon.rafique</permission>
    <permission>hudson.model.View.Create:jcaddel</permission>
    <permission>hudson.model.View.Create:jcoltrin</permission>
    <permission>hudson.model.View.Create:jessica</permission>
    <permission>hudson.model.View.Create:jjhanso</permission>
    <permission>hudson.model.View.Create:jkeller</permission>
    <permission>hudson.model.View.Create:jkneal</permission>
    <permission>hudson.model.View.Create:kbtaylor</permission>
    <permission>hudson.model.View.Create:lsymms</permission>
    <permission>hudson.model.View.Create:masargen</permission>
    <permission>hudson.model.View.Create:peris</permission>
    <permission>hudson.model.View.Create:psisson</permission>
    <permission>hudson.model.View.Create:sgibson</permission>
    <permission>hudson.model.View.Create:tschneeberger</permission>
    <permission>hudson.model.View.Delete:aakers</permission>
    <permission>hudson.model.View.Delete:cmann</permission>
    <permission>hudson.model.View.Delete:cniesen</permission>
    <permission>hudson.model.View.Delete:djung</permission>
    <permission>hudson.model.View.Delete:eghm-kuali-m</permission>
    <permission>hudson.model.View.Delete:eldavid</permission>
    <permission>hudson.model.View.Delete:ewestfal</permission>
    <permission>hudson.model.View.Delete:fsadiq</permission>
    <permission>hudson.model.View.Delete:gilesp</permission>
    <permission>hudson.model.View.Delete:haroon.rafique</permission>
    <permission>hudson.model.View.Delete:jcaddel</permission>
    <permission>hudson.model.View.Delete:jcoltrin</permission>
    <permission>hudson.model.View.Delete:jessica</permission>
    <permission>hudson.model.View.Delete:jjhanso</permission>
    <permission>hudson.model.View.Delete:jkeller</permission>
    <permission>hudson.model.View.Delete:jkneal</permission>
    <permission>hudson.model.View.Delete:kbtaylor</permission>
    <permission>hudson.model.View.Delete:lsymms</permission>
    <permission>hudson.model.View.Delete:masargen</permission>
    <permission>hudson.model.View.Delete:peris</permission>
    <permission>hudson.model.View.Delete:psisson</permission>
    <permission>hudson.model.View.Delete:sgibson</permission>
    <permission>hudson.model.View.Delete:tschneeberger</permission>
    <permission>hudson.scm.SCM.Tag:aakers</permission>
    <permission>hudson.scm.SCM.Tag:cmann</permission>
    <permission>hudson.scm.SCM.Tag:cniesen</permission>
    <permission>hudson.scm.SCM.Tag:djung</permission>
    <permission>hudson.scm.SCM.Tag:eghm-kuali-m</permission>
    <permission>hudson.scm.SCM.Tag:eldavid</permission>
    <permission>hudson.scm.SCM.Tag:ewestfal</permission>
    <permission>hudson.scm.SCM.Tag:fsadiq</permission>
    <permission>hudson.scm.SCM.Tag:gilesp</permission>
    <permission>hudson.scm.SCM.Tag:haroon.rafique</permission>
    <permission>hudson.scm.SCM.Tag:jcaddel</permission>
    <permission>hudson.scm.SCM.Tag:jcoltrin</permission>
    <permission>hudson.scm.SCM.Tag:jessica</permission>
    <permission>hudson.scm.SCM.Tag:jjhanso</permission>
    <permission>hudson.scm.SCM.Tag:jkeller</permission>
    <permission>hudson.scm.SCM.Tag:jkneal</permission>
    <permission>hudson.scm.SCM.Tag:kbtaylor</permission>
    <permission>hudson.scm.SCM.Tag:lsymms</permission>
    <permission>hudson.scm.SCM.Tag:masargen</permission>
    <permission>hudson.scm.SCM.Tag:peris</permission>
    <permission>hudson.scm.SCM.Tag:psisson</permission>
    <permission>hudson.scm.SCM.Tag:sgibson</permission>
    <permission>hudson.scm.SCM.Tag:tschneeberger</permission>
  </authorizationStrategy>
  <securityRealm class="edu.hawaii.its.hudson.security.Cas1SecurityRealm">
    <casServerUrl>https://cas.kuali.org</casServerUrl>
    <hudsonHostName>ci.rice.kuali.org</hudsonHostName>
    <forceRenewal>false</forceRenewal>
    <rolesValidationScript>return []</rolesValidationScript>
    <testValidationResponse></testValidationResponse>
  </securityRealm>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>JDK 6</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-6u29-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.ec2.EC2Cloud>
      <name>ec2-US_EAST_1</name>
      <accessId>AKIAIZFPMJVCNOYYAZ2Q</accessId>
      <secretKey>W=</secretKey>
      <privateKey>
        <privateKey>n8==</privateKey>
      </privateKey>
      <instanceCap>45</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-d48b26bd</ami>
          <description>EC2 Slave</description>
          <remoteFS>/var/lib/jenkins</remoteFS>
          <sshPort>22</sshPort>
          <type>LARGE</type>
          <labels>ec2slave</labels>
          <initScript></initScript>
          <userData></userData>
          <numExecutors>1</numExecutors>
          <remoteAdmin>ubuntu</remoteAdmin>
          <rootCommandPrefix>sudo</rootCommandPrefix>
          <jvmopts></jvmopts>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>US_EAST_1</region>
    </hudson.plugins.ec2.EC2Cloud>
  </clouds>
  <slaves>
    <hudson.plugins.ec2.EC2Slave>
      <name>i-e4ef159c</name>
      <description>EC2 Slave</description>
      <remoteFS>/var/lib/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.plugins.ec2.EC2RetentionStrategy"/>
      <launcher class="hudson.plugins.ec2.ssh.EC2UnixLauncher">
        <FAILED>-1</FAILED>
        <SAMEUSER>0</SAMEUSER>
        <RECONNECT>-2</RECONNECT>
      </launcher>
      <label>ec2slave</label>
      <nodeProperties/>
      <initScript></initScript>
      <remoteAdmin>ubuntu</remoteAdmin>
      <rootCommandPrefix>sudo</rootCommandPrefix>
      <jvmopts></jvmopts>
      <sshPort>22</sshPort>
    </hudson.plugins.ec2.EC2Slave>
    <hudson.plugins.ec2.EC2Slave>
      <name>i-9cc702e4</name>
      <description>EC2 Slave</description>
      <remoteFS>/var/lib/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.plugins.ec2.EC2RetentionStrategy"/>
      <launcher class="hudson.plugins.ec2.ssh.EC2UnixLauncher">
        <FAILED>-1</FAILED>
        <SAMEUSER>0</SAMEUSER>
        <RECONNECT>-2</RECONNECT>
      </launcher>
      <label>ec2slave</label>
      <nodeProperties/>
      <initScript></initScript>
      <remoteAdmin>ubuntu</remoteAdmin>
      <rootCommandPrefix>sudo</rootCommandPrefix>
      <jvmopts></jvmopts>
      <sshPort>22</sshPort>
    </hudson.plugins.ec2.EC2Slave>
    <hudson.plugins.ec2.EC2Slave>
      <name>i-a03bfed8</name>
      <description>EC2 Slave</description>
      <remoteFS>/var/lib/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.plugins.ec2.EC2RetentionStrategy"/>
      <launcher class="hudson.plugins.ec2.ssh.EC2UnixLauncher">
        <FAILED>-1</FAILED>
        <SAMEUSER>0</SAMEUSER>
        <RECONNECT>-2</RECONNECT>
      </launcher>
      <label>ec2slave</label>
      <nodeProperties/>
      <initScript></initScript>
      <remoteAdmin>ubuntu</remoteAdmin>
      <rootCommandPrefix>sudo</rootCommandPrefix>
      <jvmopts></jvmopts>
      <sshPort>22</sshPort>
    </hudson.plugins.ec2.EC2Slave>
    <hudson.plugins.ec2.EC2Slave>
      <name>i-564d882e</name>
      <description>EC2 Slave</description>
      <remoteFS>/var/lib/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.plugins.ec2.EC2RetentionStrategy"/>
      <launcher class="hudson.plugins.ec2.ssh.EC2UnixLauncher">
        <FAILED>-1</FAILED>
        <SAMEUSER>0</SAMEUSER>
        <RECONNECT>-2</RECONNECT>
      </launcher>
      <label>ec2slave</label>
      <nodeProperties/>
      <initScript></initScript>
      <remoteAdmin>ubuntu</remoteAdmin>
      <rootCommandPrefix>sudo</rootCommandPrefix>
      <jvmopts></jvmopts>
      <sshPort>22</sshPort>
    </hudson.plugins.ec2.EC2Slave>
  </slaves>
  <quietPeriod>0</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Rice 2.2</name>
      <description>Jobs that run against the Rice trunk</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>rice-2.1-ks-krms-integration-test-mysql</string>
        <string>rice-2.1-ks-krms-unit-test</string>
        <string>rice-2.1-sonar</string>
        <string>rice-trunk-build-revision</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>rice-trunk-.*</includeRegex>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Mobility</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>1.0-mobility-change-audit</string>
        <string>1.0-mobility-publish</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>DevOps</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>cm-authorized-key-deploy</string>
        <string>deploy-jar-to-kuali-repo</string>
        <string>sync-to-ws-server</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Rice 1.0</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>Coverage-1.0.2-oracle</string>
        <string>Coverage-1.0.3.2-oracle</string>
        <string>rice-1.0-milestone</string>
        <string>rice-1.0-nightly</string>
        <string>rice-1.0-release</string>
        <string>rice-1.0-release-create-distribution-binaries</string>
        <string>rice-1.0-site-deploy</string>
        <string>rice-1.0.3.2-m1</string>
        <string>rice-1.0.4-sitedeploy</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(.*)rice-1.0(.*)</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Rice 2.0</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>rice-2.0-build-revision</string>
        <string>rice-2.0-nightly</string>
        <string>rice-2.0-release</string>
        <string>rice-2.0-release-oss</string>
        <string>rice-2.0-release-sitedeploy</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>rice-2\.0.*</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Sonar</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>ks-1.2-sonar</string>
        <string>ks-1.3-sonar</string>
        <string>ole-trunk-sonar</string>
        <string>rice-2.0-sonar</string>
        <string>rice-2.2-sonar</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(.*)sonar(.*)</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>OLE</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>ole-trunk-change-audit</string>
        <string>ole-trunk-unit-test</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(.*)ole(.*)</includeRegex>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>KS</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[7]/jobNames/comparator"/>
        <string>ks-1.2-nightly</string>
        <string>ks-1.3-nightly</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(.*)ks(.*)</includeRegex>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Rice 2.1</name>
      <filterExecutors>true</filterExecutors>
      <filterQueue>true</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>rice-2.1-build-revision</string>
        <string>rice-2.1-integration-test-mysql</string>
        <string>rice-2.1-ks-krms-integration-test-mysql</string>
        <string>rice-2.1-ks-krms-unit-test</string>
        <string>rice-2.1-sonar</string>
        <string>rice-2.1-unit-test</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>Rice 2.2</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/listView[9]/jobNames/comparator"/>
          </default>
          <int>7</int>
          <string>BASE_SVN_URL</string>
          <string>http://svn.kuali.org/repos/</string>
          <string>EC2_CERT</string>
          <string>/var/lib/jenkins/.ssh/cert-7QMDI7QEWSI2MKKOA3GZSII4F54PW2TU.pem</string>
          <string>EC2_PRIVATE_KEY</string>
          <string>/var/lib/jenkins/.ssh/pk-7QMDI7QEWSI2MKKOA3GZSII4F54PW2TU.pem</string>
          <string>JENKINS_MASTER</string>
          <string>ci.rice.kuali.org</string>
          <string>SVN_CMD</string>
          <string>/usr/bin/svn --username $SVN_USER --password $SVN_PASSWORD --no-auth-cache --non-interactive --trust-server-cert</string>
          <string>SVN_PASSWORD</string>
          <string>wzsf3spoos</string>
          <string>SVN_USER</string>
          <string>riceci</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>