@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
input,
button,
textarea,
select {
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}
/*
	Pieces
*/
/*
	Variables
*/
a,
a:link {
  color: #0000ff;
}
a:hover,
a:focus {
  color: #0000db;
  text-decoration: underline;
}
body {
  background-color: #111111;
  font-size: 13px;
}
input,
select,
textarea,
button {
  font-size: 13px;
}
#header a {
  color: #ffffff;
}
#header a:hover,
#header a:focus {
  background: #9b0038;
}
#header .navbar,
#header .navbar-inverse {
  background-color: #aa003e;
}
#header .navbar .nav li,
#header .navbar-inverse .nav li {
  position: relative;
  z-index: 10;
}
#header .navbar .nav li a,
#header .navbar-inverse .nav li a {
  text-transform: uppercase;
}
#header .navbar .nav li.active a,
#header .navbar-inverse .nav li.active a {
  background: #9b0038;
}
#header .navbar .nav-dropdown,
#header .navbar-inverse .nav-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 50%;
  margin-left: -50%;
  width: 960px;
  background: #9b0038;
  color: #ffffff;
  list-style: none;
  padding: 1em;
}
#header .navbar .nav-dropdown li,
#header .navbar-inverse .nav-dropdown li {
  list-style: none;
  margin: 1% 0 1% 0;
  padding: 0;
  line-height: 130%;
}
#header .navbar .nav-dropdown li ul,
#header .navbar-inverse .nav-dropdown li ul {
  margin: 0;
  padding: 0;
}
#header .navbar .nav-dropdown li ul li,
#header .navbar-inverse .nav-dropdown li ul li {
  margin: 0;
  padding: 0;
}
#toolbar {
  margin-top: 27px;
  margin-bottom: -23px;
}
#document-header {
  border-bottom: 1px solid #cccccc;
  padding: 2% 0 2% 0;
}
#document-header .title h1 {
  margin-top: 0;
  font-size: 1.7em;
}
#document-header .doc-toolbar ul {
  list-style: none;
  padding: 0;
}
#document-header .doc-toolbar ul li {
  margin-right: 1em;
}
#document-header .doc-toolbar ul li a {
  font-size: .85em;
}
#document-header .meta {
  font-size: .85em;
}
#document-header .meta ul {
  list-style: none;
  padding: 0;
}
#document-header .meta ul li {
  margin: 2% 0;
}
#subnav {
  margin-bottom: 1em;
  background: #f6f6f6;
  border-left: 1px solid #cccccc;
}
#subnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#subnav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#subnav ul li a {
  display: block;
  padding: 3% 6%;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#subnav ul li ul li a {
  font-size: .9em;
  padding-left: 12%;
}
#subnav ul li a.expanded {
  background: #ffffff;
  border-right: 1px solid white;
  font-weight: 700;
}
#subnav ul li.active a {
  background: #ffffff;
  border-right: 1px solid white;
  font-weight: 700;
}
#main {
  background: #ffffff;
}
#main label {
  line-height: 130%;
  padding-top: 0;
  text-align: left;
}
#main .button-row {
  padding: 2% 0 2% 0;
  border-top: 1px solid #cccccc;
  text-align: center;
}
footer {
  color: #f2f2f2;
}
footer a {
  color: #ffffff !important;
}
footer .container {
  margin-top: 30px;
  margin-bottom: 30px;
}
