
/* icons */
[class^="cus-"],
[class*=" cus-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/icons-custom.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
  *margin-left: 0;
}






.cus-2x2_grid{background-position: 0 0;width: 16px;height: 16px;} 
.cus-3x3_grid{ background-position: -21px 0; width: 16px; height: 16px; } 
.cus-3x3_grid_2{ background-position: -42px 0; width: 16px; height: 16px; } 
.cus-air_signal{ background-position: -63px 0; width: 16px; height: 16px; } 
.cus-align_center{ background-position: -84px 0; width: 16px; height: 16px; } 
.cus-align_just{ background-position: -105px 0; width: 16px; height: 16px; } 
.cus-align_left{ background-position: -126px 0; width: 16px; height: 16px; } 
.cus-align_right{ background-position: -147px 0; width: 16px; height: 16px; } 
.cus-app_window{ background-position: -168px 0; width: 16px; height: 16px; } 
.cus-app_window_black{ background-position: -189px 0; width: 16px; height: 16px; } 
.cus-app_window_cross{ background-position: -210px 0; width: 16px; height: 16px; } 
.cus-app_window_shell{ background-position: -231px 0; width: 16px; height: 16px; } 
.cus-arrow_bottom{ background-position: -252px 0; width: 16px; height: 16px; } 
.cus-arrow_bottom_left{ background-position: -273px 0; width: 16px; height: 16px; } 
.cus-arrow_bottom_rigth{ background-position: -294px 0; width: 16px; height: 16px; } 
.cus-arrow_l{ background-position: -315px 0; width: 16px; height: 16px; } 
.cus-arrow_left{ background-position: -336px 0; width: 16px; height: 16px; } 
.cus-arrow_r{ background-position: -357px 0; width: 16px; height: 16px; } 
.cus-arrow_right{ background-position: -378px 0; width: 16px; height: 16px; } 
.cus-arrow_top{ background-position: -399px 0; width: 16px; height: 16px; } 
.cus-arrow_top_left{ background-position: -420px 0; width: 16px; height: 16px; } 
.cus-arrow_top_right{ background-position: -441px 0; width: 16px; height: 16px; } 
.cus-arrow_two_head{ background-position: -462px 0; width: 16px; height: 16px; } 
.cus-arrow_two_head_2{ background-position: -483px 0; width: 16px; height: 16px; } 
.cus-attention{ background-position: -504px 0; width: 16px; height: 16px; } 
.cus-balance{ background-position: -525px 0; width: 16px; height: 16px; } 
.cus-battery{ background-position: -546px 0; width: 16px; height: 16px; } 
.cus-bell{ background-position: -567px 0; width: 16px; height: 16px; } 
.cus-book{ background-position: -588px 0; width: 16px; height: 16px; } 
.cus-book_side{ background-position: -609px 0; width: 16px; height: 16px; } 
.cus-bookmark_1{ background-position: -630px 0; width: 16px; height: 16px; } 
.cus-bookmark_2{ background-position: -651px 0; width: 16px; height: 16px; } 
.cus-box{ background-position: -672px 0; width: 16px; height: 16px; } 
.cus-br_down{ background-position: -693px 0; width: 16px; height: 16px; } 
.cus-br_next{ background-position: -714px 0; width: 16px; height: 16px; } 
.cus-br_prev{ background-position: -735px 0; width: 16px; height: 16px; } 
.cus-br_up{ background-position: -756px 0; width: 16px; height: 16px; } 
.cus-brackets{ background-position: -777px 0; width: 16px; height: 16px; } 
.cus-browser{ background-position: -798px 0; width: 16px; height: 16px; } 
.cus-brush{ background-position: -819px 0; width: 16px; height: 16px; } 
.cus-bug{ background-position: -840px 0; width: 16px; height: 16px; } 
.cus-burst{ background-position: -861px 0; width: 16px; height: 16px; } 
.cus-calc{ background-position: -882px 0; width: 16px; height: 16px; } 
.cus-calendar_1{ background-position: -903px 0; width: 16px; height: 16px; } 
.cus-calendar_2{ background-position: -924px 0; width: 16px; height: 16px; } 
.cus-cancel{ background-position: -945px 0; width: 16px; height: 16px; } 
.cus-case{ background-position: -966px 0; width: 16px; height: 16px; } 
.cus-cassette{ background-position: -987px 0; width: 16px; height: 16px; } 
.cus-cc{ background-position: -1008px 0; width: 16px; height: 16px; } 
.cus-cert{ background-position: -1029px 0; width: 16px; height: 16px; } 
.cus-chart_bar{ background-position: -1050px 0; width: 16px; height: 16px; } 
.cus-chart_line{ background-position: -1071px 0; width: 16px; height: 16px; } 
.cus-chart_line_2{ background-position: -1092px 0; width: 16px; height: 16px; } 
.cus-chart_pie{ background-position: -1113px 0; width: 16px; height: 16px; } 
.cus-chat_bubble_message_square{ background-position: -1134px 0; width: 16px; height: 16px; } 
.cus-checkbox_checked{ background-position: -1155px 0; width: 16px; height: 16px; } 
.cus-checkbox_unchecked{ background-position: -1176px 0; width: 16px; height: 16px; } 
.cus-checkmark{ background-position: -1197px 0; width: 16px; height: 16px; } 
.cus-clip{ background-position: -1218px 0; width: 16px; height: 16px; } 
.cus-clipboard_copy{ background-position: -1239px 0; width: 16px; height: 16px; } 
.cus-clipboard_cut{ background-position: -1260px 0; width: 16px; height: 16px; } 
.cus-clipboard_past{ background-position: -1281px 0; width: 16px; height: 16px; } 
.cus-clock{ background-position: -1302px 0; width: 16px; height: 16px; } 
.cus-cloud{ background-position: -1323px 0; width: 16px; height: 16px; } 
.cus-cloud_rain{ background-position: -1344px 0; width: 16px; height: 16px; } 
.cus-coffe_cup{ background-position: -1365px 0; width: 16px; height: 16px; } 
.cus-cog{ background-position: -1386px 0; width: 16px; height: 16px; } 
.cus-cogs{ background-position: -1407px 0; width: 16px; height: 16px; } 
.cus-comp{ background-position: -1428px 0; width: 16px; height: 16px; } 
.cus-compass{ background-position: -1449px 0; width: 16px; height: 16px; } 
.cus-connect{ background-position: -1470px 0; width: 16px; height: 16px; } 
.cus-contact{ background-position: -1491px 0; width: 16px; height: 16px; } 
.cus-contact_card{ background-position: -1512px 0; width: 16px; height: 16px; } 
.cus-cube{ background-position: -1533px 0; width: 16px; height: 16px; } 
.cus-cur_bp{ background-position: -1554px 0; width: 16px; height: 16px; } 
.cus-cur_dollar{ background-position: -1575px 0; width: 16px; height: 16px; } 
.cus-cur_euro{ background-position: -1596px 0; width: 16px; height: 16px; } 
.cus-cur_yen{ background-position: -1617px 0; width: 16px; height: 16px; } 
.cus-cursor_H_split{ background-position: -1638px 0; width: 16px; height: 16px; } 
.cus-cursor_V_split{ background-position: -1659px 0; width: 16px; height: 16px; } 
.cus-cursor_arrow{ background-position: -1680px 0; width: 16px; height: 16px; } 
.cus-cursor_drag_arrow{ background-position: -1701px 0; width: 16px; height: 16px; } 
.cus-cursor_drag_arrow_2{ background-position: -1722px 0; width: 16px; height: 16px; } 
.cus-cursor_drag_hand{ background-position: -1743px 0; width: 16px; height: 16px; } 
.cus-cursor_hand{ background-position: -1764px 0; width: 16px; height: 16px; } 
.cus-dashboard{ background-position: -1785px 0; width: 16px; height: 16px; } 
.cus-db{ background-position: -1806px 0; width: 16px; height: 16px; } 
.cus-delete{ background-position: -1827px 0; width: 16px; height: 16px; } 
.cus-delete_server{ background-position: -1848px 0; width: 16px; height: 16px; } 
.cus-disconnected{ background-position: -1869px 0; width: 16px; height: 16px; } 
.cus-doc_delete{ background-position: -1890px 0; width: 16px; height: 16px; } 
.cus-doc_edit{ background-position: -1911px 0; width: 16px; height: 16px; } 
.cus-doc_empty{ background-position: -1932px 0; width: 16px; height: 16px; } 
.cus-doc_export{ background-position: -1953px 0; width: 16px; height: 16px; } 
.cus-doc_import{ background-position: -1974px 0; width: 16px; height: 16px; } 
.cus-doc_lines{ background-position: 0 -21px; width: 16px; height: 16px; } 
.cus-doc_lines_stright{ background-position: -21px -21px; width: 16px; height: 16px; } 
.cus-doc_minus{ background-position: -42px -21px; width: 16px; height: 16px; } 
.cus-doc_new{ background-position: -63px -21px; width: 16px; height: 16px; } 
.cus-doc_plus{ background-position: -84px -21px; width: 16px; height: 16px; } 
.cus-document{ background-position: -105px -21px; width: 16px; height: 16px; } 
.cus-download{ background-position: -126px -21px; width: 16px; height: 16px; } 
.cus-eject{ background-position: -147px -21px; width: 16px; height: 16px; } 
.cus-emotion_sad{ background-position: -168px -21px; width: 16px; height: 16px; } 
.cus-emotion_smile{ background-position: -189px -21px; width: 16px; height: 16px; } 
.cus-expand{ background-position: -210px -21px; width: 16px; height: 16px; } 
.cus-export{ background-position: -231px -21px; width: 16px; height: 16px; } 
.cus-eye{ background-position: -252px -21px; width: 16px; height: 16px; } 
.cus-eye_inv{ background-position: -273px -21px; width: 16px; height: 16px; } 
.cus-facebook{ background-position: -294px -21px; width: 16px; height: 16px; } 
.cus-fastforward_next{ background-position: -315px -21px; width: 16px; height: 16px; } 
.cus-fill{ background-position: -336px -21px; width: 16px; height: 16px; } 
.cus-filter{ background-position: -357px -21px; width: 16px; height: 16px; } 
.cus-fire{ background-position: -378px -21px; width: 16px; height: 16px; } 
.cus-flag{ background-position: -399px -21px; width: 16px; height: 16px; } 
.cus-flag_2{ background-position: -420px -21px; width: 16px; height: 16px; } 
.cus-folder{ background-position: -441px -21px; width: 16px; height: 16px; } 
.cus-folder_arrow{ background-position: -462px -21px; width: 16px; height: 16px; } 
.cus-folder_delete{ background-position: -483px -21px; width: 16px; height: 16px; } 
.cus-folder_minus{ background-position: -504px -21px; width: 16px; height: 16px; } 
.cus-folder_open{ background-position: -525px -21px; width: 16px; height: 16px; } 
.cus-folder_plus{ background-position: -546px -21px; width: 16px; height: 16px; } 
.cus-font_bold{ background-position: -567px -21px; width: 16px; height: 16px; } 
.cus-font_italic{ background-position: -588px -21px; width: 16px; height: 16px; } 
.cus-font_size{ background-position: -609px -21px; width: 16px; height: 16px; } 
.cus-font_strokethrough{ background-position: -630px -21px; width: 16px; height: 16px; } 
.cus-font_underline{ background-position: -651px -21px; width: 16px; height: 16px; } 
.cus-game_pad{ background-position: -672px -21px; width: 16px; height: 16px; } 
.cus-glasses{ background-position: -693px -21px; width: 16px; height: 16px; } 
.cus-globe_1{ background-position: -714px -21px; width: 16px; height: 16px; } 
.cus-globe_2{ background-position: -735px -21px; width: 16px; height: 16px; } 
.cus-globe_3{ background-position: -756px -21px; width: 16px; height: 16px; } 
.cus-google{ background-position: -777px -21px; width: 16px; height: 16px; } 
.cus-hand_1{ background-position: -798px -21px; width: 16px; height: 16px; } 
.cus-hand_2{ background-position: -819px -21px; width: 16px; height: 16px; } 
.cus-hand_contra{ background-position: -840px -21px; width: 16px; height: 16px; } 
.cus-hand_pro{ background-position: -861px -21px; width: 16px; height: 16px; } 
.cus-hanger{ background-position: -882px -21px; width: 16px; height: 16px; } 
.cus-headphones{ background-position: -903px -21px; width: 16px; height: 16px; } 
.cus-heart{ background-position: -924px -21px; width: 16px; height: 16px; } 
.cus-heart_empty{ background-position: -945px -21px; width: 16px; height: 16px; } 
.cus-home{ background-position: -966px -21px; width: 16px; height: 16px; } 
.cus-image_text{ background-position: -987px -21px; width: 16px; height: 16px; } 
.cus-import{ background-position: -1008px -21px; width: 16px; height: 16px; } 
.cus-inbox{ background-position: -1029px -21px; width: 16px; height: 16px; } 
.cus-indent_decrease{ background-position: -1050px -21px; width: 16px; height: 16px; } 
.cus-indent_increase{ background-position: -1071px -21px; width: 16px; height: 16px; } 
.cus-info{ background-position: -1092px -21px; width: 16px; height: 16px; } 
.cus-inject{ background-position: -1113px -21px; width: 16px; height: 16px; } 
.cus-invisible_light{ background-position: -1134px -21px; width: 16px; height: 16px; } 
.cus-invisible_revert{ background-position: -1155px -21px; width: 16px; height: 16px; } 
.cus-iphone{ background-position: -1176px -21px; width: 16px; height: 16px; } 
.cus-key{ background-position: -1197px -21px; width: 16px; height: 16px; } 
.cus-layers_1{ background-position: -1218px -21px; width: 16px; height: 16px; } 
.cus-layers_2{ background-position: -1239px -21px; width: 16px; height: 16px; } 
.cus-lightbulb{ background-position: -1260px -21px; width: 16px; height: 16px; } 
.cus-lighting{ background-position: -1281px -21px; width: 16px; height: 16px; } 
.cus-link{ background-position: -1302px -21px; width: 16px; height: 16px; } 
.cus-list_bullets{ background-position: -1323px -21px; width: 16px; height: 16px; } 
.cus-list_num{ background-position: -1344px -21px; width: 16px; height: 16px; } 
.cus-loading_throbber{ background-position: -1365px -21px; width: 16px; height: 16px; } 
.cus-lock_open{ background-position: -1386px -21px; width: 16px; height: 16px; } 
.cus-magic_wand{ background-position: -1407px -21px; width: 16px; height: 16px; } 
.cus-magic_wand_2{ background-position: -1428px -21px; width: 16px; height: 16px; } 
.cus-mail{ background-position: -1449px -21px; width: 16px; height: 16px; } 
.cus-mail_2{ background-position: -1470px -21px; width: 16px; height: 16px; } 
.cus-message_attention{ background-position: -1491px -21px; width: 16px; height: 16px; } 
.cus-mic{ background-position: -1512px -21px; width: 16px; height: 16px; } 
.cus-microphone{ background-position: -1533px -21px; width: 16px; height: 16px; } 
.cus-money{ background-position: -1554px -21px; width: 16px; height: 16px; } 
.cus-monitor{ background-position: -1575px -21px; width: 16px; height: 16px; } 
.cus-movie{ background-position: -1596px -21px; width: 16px; height: 16px; } 
.cus-music{ background-position: -1617px -21px; width: 16px; height: 16px; } 
.cus-music_square{ background-position: -1638px -21px; width: 16px; height: 16px; } 
.cus-net_comp{ background-position: -1659px -21px; width: 16px; height: 16px; } 
.cus-network{ background-position: -1680px -21px; width: 16px; height: 16px; } 
.cus-not_connected{ background-position: -1701px -21px; width: 16px; height: 16px; } 
.cus-notepad{ background-position: -1722px -21px; width: 16px; height: 16px; } 
.cus-notepad_2{ background-position: -1743px -21px; width: 16px; height: 16px; } 
.cus-off{ background-position: -1764px -21px; width: 16px; height: 16px; } 
.cus-on-off{ background-position: -1785px -21px; width: 16px; height: 16px; } 
.cus-on{ background-position: -1806px -21px; width: 16px; height: 16px; } 
.cus-openid{ background-position: -1827px -21px; width: 16px; height: 16px; } 
.cus-padlock_closed{ background-position: -1848px -21px; width: 16px; height: 16px; } 
.cus-padlock_open{ background-position: -1869px -21px; width: 16px; height: 16px; } 
.cus-page_layout{ background-position: -1890px -21px; width: 16px; height: 16px; } 
.cus-paper_airplane{ background-position: -1911px -21px; width: 16px; height: 16px; } 
.cus-paragraph{ background-position: -1932px -21px; width: 16px; height: 16px; } 
.cus-pencil{ background-position: -1953px -21px; width: 16px; height: 16px; } 
.cus-phone{ background-position: -1974px -21px; width: 16px; height: 16px; } 
.cus-phone_1{ background-position: 0 -42px; width: 16px; height: 16px; } 
.cus-phone_2{ background-position: -21px -42px; width: 16px; height: 16px; } 
.cus-phone_touch{ background-position: -42px -42px; width: 16px; height: 16px; } 
.cus-photo{ background-position: -63px -42px; width: 16px; height: 16px; } 
.cus-picture{ background-position: -84px -42px; width: 16px; height: 16px; } 
.cus-pin{ background-position: -105px -42px; width: 16px; height: 16px; } 
.cus-pin_2{ background-position: -126px -42px; width: 16px; height: 16px; } 
.cus-pin_map{ background-position: -147px -42px; width: 16px; height: 16px; } 
.cus-pin_map_down{ background-position: -168px -42px; width: 16px; height: 16px; } 
.cus-pin_map_left{ background-position: -189px -42px; width: 16px; height: 16px; } 
.cus-pin_map_right{ background-position: -210px -42px; width: 16px; height: 16px; } 
.cus-pin_map_top{ background-position: -231px -42px; width: 16px; height: 16px; } 
.cus-pin_sq_down{ background-position: -252px -42px; width: 16px; height: 16px; } 
.cus-pin_sq_left{ background-position: -273px -42px; width: 16px; height: 16px; } 
.cus-pin_sq_right{ background-position: -294px -42px; width: 16px; height: 16px; } 
.cus-pin_sq_top{ background-position: -315px -42px; width: 16px; height: 16px; } 
.cus-playback_ff{ background-position: -336px -42px; width: 16px; height: 16px; } 
.cus-playback_next{ background-position: -357px -42px; width: 16px; height: 16px; } 
.cus-playback_pause{ background-position: -378px -42px; width: 16px; height: 16px; } 
.cus-playback_play{ background-position: -399px -42px; width: 16px; height: 16px; } 
.cus-playback_prev{ background-position: -420px -42px; width: 16px; height: 16px; } 
.cus-playback_rec{ background-position: -441px -42px; width: 16px; height: 16px; } 
.cus-playback_reload{ background-position: -462px -42px; width: 16px; height: 16px; } 
.cus-playback_rew{ background-position: -483px -42px; width: 16px; height: 16px; } 
.cus-playback_stop{ background-position: -504px -42px; width: 16px; height: 16px; } 
.cus-podcast{ background-position: -525px -42px; width: 16px; height: 16px; } 
.cus-preso{ background-position: -546px -42px; width: 16px; height: 16px; } 
.cus-print{ background-position: -567px -42px; width: 16px; height: 16px; } 
.cus-push_pin{ background-position: -588px -42px; width: 16px; height: 16px; } 
.cus-question{ background-position: -609px -42px; width: 16px; height: 16px; } 
.cus-redo{ background-position: -630px -42px; width: 16px; height: 16px; } 
.cus-refresh{ background-position: -651px -42px; width: 16px; height: 16px; } 
.cus-reload{ background-position: -672px -42px; width: 16px; height: 16px; } 
.cus-rewind_previous{ background-position: -693px -42px; width: 16px; height: 16px; } 
.cus-rnd_br_down{ background-position: -714px -42px; width: 16px; height: 16px; } 
.cus-rnd_br_first{ background-position: -735px -42px; width: 16px; height: 16px; } 
.cus-rnd_br_last{ background-position: -756px -42px; width: 16px; height: 16px; } 
.cus-rnd_br_next{ background-position: -777px -42px; width: 16px; height: 16px; } 
.cus-rnd_br_prev{ background-position: -798px -42px; width: 16px; height: 16px; } 
.cus-rnd_br_up{ background-position: -819px -42px; width: 16px; height: 16px; } 
.cus-round{ background-position: -840px -42px; width: 16px; height: 16px; } 
.cus-round_and_up{ background-position: -861px -42px; width: 16px; height: 16px; } 
.cus-round_arrow_left{ background-position: -882px -42px; width: 16px; height: 16px; } 
.cus-round_arrow_right{ background-position: -903px -42px; width: 16px; height: 16px; } 
.cus-round_checkmark{ background-position: -924px -42px; width: 16px; height: 16px; } 
.cus-round_delete{ background-position: -945px -42px; width: 16px; height: 16px; } 
.cus-round_minus{ background-position: -966px -42px; width: 16px; height: 16px; } 
.cus-round_plus{ background-position: -987px -42px; width: 16px; height: 16px; } 
.cus-rss{ background-position: -1008px -42px; width: 16px; height: 16px; } 
.cus-rss_sq{ background-position: -1029px -42px; width: 16px; height: 16px; } 
.cus-sand{ background-position: -1050px -42px; width: 16px; height: 16px; } 
.cus-sat_dish{ background-position: -1071px -42px; width: 16px; height: 16px; } 
.cus-save{ background-position: -1092px -42px; width: 16px; height: 16px; } 
.cus-server{ background-position: -1113px -42px; width: 16px; height: 16px; } 
.cus-shapes{ background-position: -1134px -42px; width: 16px; height: 16px; } 
.cus-share{ background-position: -1155px -42px; width: 16px; height: 16px; } 
.cus-share_2{ background-position: -1176px -42px; width: 16px; height: 16px; } 
.cus-shield{ background-position: -1197px -42px; width: 16px; height: 16px; } 
.cus-shield_2{ background-position: -1218px -42px; width: 16px; height: 16px; } 
.cus-shop_cart{ background-position: -1239px -42px; width: 16px; height: 16px; } 
.cus-shopping_bag{ background-position: -1260px -42px; width: 16px; height: 16px; } 
.cus-shopping_bag_dollar{ background-position: -1281px -42px; width: 16px; height: 16px; } 
.cus-sound_high{ background-position: -1302px -42px; width: 16px; height: 16px; } 
.cus-sound_low{ background-position: -1323px -42px; width: 16px; height: 16px; } 
.cus-sound_mute{ background-position: -1344px -42px; width: 16px; height: 16px; } 
.cus-spechbubble{ background-position: -1365px -42px; width: 16px; height: 16px; } 
.cus-spechbubble_2{ background-position: -1386px -42px; width: 16px; height: 16px; } 
.cus-spechbubble_sq{ background-position: -1407px -42px; width: 16px; height: 16px; } 
.cus-spechbubble_sq_line{ background-position: -1428px -42px; width: 16px; height: 16px; } 
.cus-sq_br_down{ background-position: -1449px -42px; width: 16px; height: 16px; } 
.cus-sq_br_first{ background-position: -1470px -42px; width: 16px; height: 16px; } 
.cus-sq_br_last{ background-position: -1491px -42px; width: 16px; height: 16px; } 
.cus-sq_br_next{ background-position: -1512px -42px; width: 16px; height: 16px; } 
.cus-sq_br_prev{ background-position: -1533px -42px; width: 16px; height: 16px; } 
.cus-sq_br_up{ background-position: -1554px -42px; width: 16px; height: 16px; } 
.cus-sq_down{ background-position: -1575px -42px; width: 16px; height: 16px; } 
.cus-sq_minus{ background-position: -1596px -42px; width: 16px; height: 16px; } 
.cus-sq_next{ background-position: -1617px -42px; width: 16px; height: 16px; } 
.cus-sq_plus{ background-position: -1638px -42px; width: 16px; height: 16px; } 
.cus-sq_prev{ background-position: -1659px -42px; width: 16px; height: 16px; } 
.cus-sq_up{ background-position: -1680px -42px; width: 16px; height: 16px; } 
.cus-square_shape{ background-position: -1701px -42px; width: 16px; height: 16px; } 
.cus-stairs_down{ background-position: -1722px -42px; width: 16px; height: 16px; } 
.cus-stairs_up{ background-position: -1743px -42px; width: 16px; height: 16px; } 
.cus-star{ background-position: -1764px -42px; width: 16px; height: 16px; } 
.cus-star_fav{ background-position: -1785px -42px; width: 16px; height: 16px; } 
.cus-star_fav_empty{ background-position: -1806px -42px; width: 16px; height: 16px; } 
.cus-stop_watch{ background-position: -1827px -42px; width: 16px; height: 16px; } 
.cus-sun{ background-position: -1848px -42px; width: 16px; height: 16px; } 
.cus-tag{ background-position: -1869px -42px; width: 16px; height: 16px; } 
.cus-tape{ background-position: -1890px -42px; width: 16px; height: 16px; } 
.cus-target{ background-position: -1911px -42px; width: 16px; height: 16px; } 
.cus-text_curstor{ background-position: -1932px -42px; width: 16px; height: 16px; } 
.cus-text_letter_t{ background-position: -1953px -42px; width: 16px; height: 16px; } 
.cus-top_right_expand{ background-position: -1974px -42px; width: 16px; height: 16px; } 
.cus-track{ background-position: 0 -63px; width: 16px; height: 16px; } 
.cus-trash{ background-position: -21px -63px; width: 16px; height: 16px; } 
.cus-twitter{ background-position: -42px -63px; width: 16px; height: 16px; } 
.cus-twitter_2{ background-position: -63px -63px; width: 16px; height: 16px; } 
.cus-undo{ background-position: -84px -63px; width: 16px; height: 16px; } 
.cus-user{ background-position: -105px -63px; width: 16px; height: 16px; } 
.cus-users{ background-position: -126px -63px; width: 16px; height: 16px; } 
.cus-vault{ background-position: -147px -63px; width: 16px; height: 16px; } 
.cus-wallet{ background-position: -168px -63px; width: 16px; height: 16px; } 
.cus-wifi_router{ background-position: -189px -63px; width: 16px; height: 16px; } 
.cus-wireless_signal{ background-position: -210px -63px; width: 16px; height: 16px; } 
.cus-wrench{ background-position: -231px -63px; width: 16px; height: 16px; } 
.cus-wrench_plus{ background-position: -252px -63px; width: 16px; height: 16px; } 
.cus-wrench_plus_2{ background-position: -273px -63px; width: 16px; height: 16px; } 
.cus-youtube{ background-position: -294px -63px; width: 16px; height: 16px; } 
.cus-zoom{ background-position: -315px -63px; width: 16px; height: 16px; } 
